<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Temoignages
</h3>
<div class="vstack gap-3">
  <div class="p-2">
    <div class="card">
      <div class="card-header">
        Pour résumer, avant d’arriver à EDVO, je ne voulais plus vivre; en
        partant, j’ai commencé à vivre pour de vrai. J’aurais à jamais une
        gratitude infinie pour toutes les personnes qui travaillent dans ce
        lieu.
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 fs-6">
          <p>
            Difficile de trouver les mots pour dire à quel point EDVO m’a aidé.
            Je suis abstinent de tous produits modifiant le comportement depuis
            2 ans et 8 mois, en grande partie grâce à eux. Durant un peu plus
            d’un an, EDVO m’a appris à vivre sans consommer, à vivre avec mes
            émotions, à avoir une hygiène de vie saine, à vivre tout simplement.
            L’équipe pluridisciplinaire ainsi que le groupe de résidents m’ont
            permis de me découvrir et de devenir enfin moi-même après 12 ans de
            consommation destructrice.
          </p>
          <p>
            Pour résumer, avant d’arriver à EDVO, je ne voulais plus vivre ; en
            partant, j’ai commencé à vivre pour de vrai. J’aurais à jamais une
            gratitude infinie pour toutes les personnes qui travaillent dans ce
            lieu.
          </p>
          <p>
            Maintenant, je suis parti depuis plus d’un an et ma vie à
            l’extérieur est heureuse socialement, professionnellement et dans
            l’abstinence. Cet été avec un des thérapeutes, j’ai eu la chance
            d’accompagner une partie du groupe dans l’Aveyron pour un séjour
            thérapeutique. Ce fût également une expérience inoubliable, riche en
            émotion qui m’a permis de me revoir en début de parcours, et de
            transmettre l’expérience que j’ai vécu à leur place.
          </p>
          <p>
            Je suis un chanceux et j’espère que beaucoup d’autres chanceux
            connaîtront cet endroit.
          </p>
          <p>
            Encore un grand merci à vous, Jean-Paul, Nicole, Stefan, Cyril,
            Stan, Alexandra, Charlotte, Esperanza et toutes les personnes qui
            ont croisées mon chemin là bas.
          </p>
          <footer class="blockquote-footer">de Baptiste J.</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card">
      <div class="card-header">
        A partir du moment où j’ai fait confiance, j’ai tenté de nouvelles
        expériences : l’écoute, l’entraide, tenir ma position, essayer de
        nouveaux loisirs, prendre soin de moi…
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 fs-6">
          <p>
            Je suis arrivé à EDVO après 23 ans de consommation de toutes drogues
            et essayant à plusieurs reprises d’arrêter. J’ai essayé diverses
            techniques : fuite géographique, 1 cure à 21 ans de 3 semaines en
            hôpital, mais comme rien ne marchait j’avais jeté l’éponge et
            m’étais résigné à vivre et mourir de ma consommation. « Le désespoir
            » comme m’avait dit mon thérapeute et c’était le cas.
          </p>
          <p>
            Je suis donc arrivé ne sachant plus comment faire pour arrêter de
            consommer et vivre normalement.
          </p>
          <p>
            J’étais plein de colère, peurs, ne sachant pas où j’étais et comment
            je devais me comporter. J’avais décroché en 3 semaines chez un pote
            et je vivais à la campagne dans une caravane, j’avais 30 jours de
            clean à mon arrivée et me retrouver entouré de 25 dépendants à Paris
            a été un choc, j’étais totalement perdu… Après quelques semaines,
            j’ai pu faire confiance et me confier au groupe.
          </p>
          <p>
            Les confrontations n’étaient pas plaisantes mais nécessaires, pour
            me sortir de ma manière de fonctionner et de me repositionner face
            au groupe et par la suite au monde qui m’entoure ; prendre ma part
            et voir que seul ma manière d’être et de croire m’amenait à m’isoler
            et bien sûr consommer.
          </p>
          <p>
            Mes comportements ont progressé à partir du moment où j’ai fait
            confiance au groupe mais aussi aux thérapeutes que je voyais au
            début comme l’autorité et non pas des personnes qui étaient là pour
            m’aider.
          </p>
          <p>
            La travail de vision m’a ouvert les portes des envies cachées :
            reprise d’études, chanter et bien d’autres. Aujourd’hui je garde ce
            travail et grâce à mes amis d’EDVO, j’ai passé cette semaine la
            porte de cours collectifs où je n’arrivais pas aller par peur. J’ai
            aussi un entretien pour un bilan de compétences, j’ai postulé pour
            faire un bénévolat sur un site de fouilles archéologiques… Je
            continue de faire le maximum afin de m’épanouir après cette période
            de désespoir.
          </p>
          <p>
            Le lien, une expérience incroyable sans quoi mon clean ne tiendrait
            pas. J’ai aujourd’hui des gens qui me connaissent mieux que
            quiconque et avec qui je partage tout sans exception et qui me
            disent quand je fais fausse route, qui me disent « fait ton
            expérience, on est là », qui m’encouragent pour tout ce que j’ai du
            mal à faire seul. Sans EDVO, il aurait été compliqué d’avoir ce
            genre de relation dans ma vie.
          </p>
          <p>
            La reprise du travail à été difficile, mes comportements de
            dépendant ont vite repris le dessus (suractivité, contrôle…) ; poser
            des limites a été et est toujours parfois compliqué. J’ai appris à
            le faire et aujourd’hui, quand je découvre une nouvelle limite ou
            que quelque chose ne se passe pas comme prévu, j’arrive à me
            positionner, prendre ma part et régler les conflits toujours avec
            l’aide de mes amis. Heureusement que j’étais encore à EDVO pour
            cette reprise de travail car ça a été difficile… Travailler clean,
            je ne connaissais pas.
          </p>
          <p>
            L’appartement de transition, ainsi que les groupes anciens m’ont
            beaucoup apporté. Le fait de devoir reprendre une vie «normale » à
            l’extérieur n’est pas si simple, il faut s’organiser, reprendre de
            nouveaux repères, accueillir ces périodes de vide et mettre de
            nouvelles choses en place. Le fait d’être en colocation est très
            aidant et rassurant.
          </p>
          <p>
            Voilà pour mon retour d’expérience à EDVO que je ne remercierais
            jamais assez pour tout ce qu’elle m’a offert.
          </p>
          <footer class="blockquote-footer">de Bruno G.</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <section>
    <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
      D’autres témoignent…
    </h3>
    <div class="d-flex justify-content-center">
      <script src="https://www.youtube.com/iframe_api"></script>
      <youtube-player [videoId]="videoId"> </youtube-player>
    </div>
  </section>
  <div class="p-2">
    <div class="card">
      <div class="card-header">
        Ce fût une expérience extraordinaire, vraiment incroyable !
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 fs-6">
          <p>
            La décision de venir à EDVO n’a pas été facile pour moi, mais
            aujourd’hui je ne le regrette pas. J’avais tout essayé mais rien ne
            fonctionnait. Ce fût un parcours de renaissance, les groupes de
            parole et la vie en collectivité m’ont permis d’arrêter de consommer
            et d’apprendre à « faire différemment » comme on le dit souvent,
            d’arrêter de survivre et de vivre. Ne plus surréagir à mes émotions
            en allant consommer ou en m’auto-sabotant. Changer mon mode de vie
            et mon mode de pensée.
          </p>
          <p>
            La parole a été le début de tout et m’a libéré. Ne plus fonctionner
            en circuit fermé mais avec les autres. À travers les groupes de
            parole en groupe ou mini groupe, mais aussi à travers le groupe
            Femme, le groupe du retour à l’emploi. L’écriture des
            conso/conséquences a fait explosé mon déni sur la maladie et m’a
            permis de l’accepter. J’ai appris à faire confiance aux autres et
            demander de l’aide. L’outil de vivre en communauté m’a permis de ne
            pas rester seule, d’être soutenue et épaulée à chaque moment, c’est
            ce dont j’avais besoin. C’est comme une petite famille, on se
            connaît et on peut aider l’autre. J’avais besoin de ce lien et de ne
            plus me sentir seule pour avancer.
          </p>
          <p>
            Chaque phase du parcours à l’EDVO m’a été profitable pour
            m’autonomiser et me réinsérer dans la société sans consommer. EDVO
            m’a donné des outils que je mets en pratique dans ma vie une fois
            sortie d’EDVO. J’ai construit des fondations solides. Il m’a aussi
            donné des liens très forts avec les résidents, que je considère pour
            certains vraiment comme ma famille.
          </p>
          <footer class="blockquote-footer">de Maud C.</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card">
      <div class="card-header">
        Si l’on m’avait dit tout ce que mon séjour à l’EDVO m’apporterait au
        moment d’y entrer, je ne l’aurais jamais cru.
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 fs-6">
          <p>
            J’y ai appris à vivre sans consommer. J’y ai appris à exprimer mes
            émotions. J’y ai appris à exister au sein d’un groupe. J’y ai appris
            à oser de nouvelles expériences, sans m’attacher au résultat. J’y ai
            appris à avancer dans la vie pas à pas. Et surtout, j’y ai appris à
            réaliser mes rêves. Une gratitude infinie, au-delà des mots pour
            EDVO et ce nouveau mode de vie que l’équipe et le groupe m’ont
            transmis.
          </p>
          <footer class="blockquote-footer">de Thomas S.</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card">
      <div class="card-header">Je ne retiens que des choses positives.</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 fs-6">
          <p>
            J’ai pu avoir la chance de faire une thérapie intensive qui me sert
            énormément aujourd’hui, j’ai commencé à reprendre ma vie en main.
            J’ai pu m’améliorer en français grâce à des cours que je continue
            seul aujourd’hui encore, j’ai aligné du clean, j’ai un travail
            stable et une formation en vue, une alimentation saine et du lien
            avec des anciens résidents de la structure.
          </p>
          <footer class="blockquote-footer">d’Aymeric D.</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
