<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Parcours de soin
</h3>
<P
  >Le modèle s’appuie sur la vie de groupe particulièrement restructurante pour
  une personne arrivée en fin de parcours, isolée, désocialisée, en perte de
  sens. Après un sevrage qui peut durer 1 à 3 semaines en milieu hospitalier
  selon l’addiction, nos résidents ont suivi une thérapie intensive pratiqué en
  centre de soins sur 8 à 12 semaines.</P
>
<P
  >A la sortie du centre de soins, après avoir réappris à vivre sans produit,
  quittant ce groupe très contenant, vient ce moment particulièrement anxiogène
  pour le patient. Généralement, il ne veut plus retourner dans le contexte
  géographique qu’il connaissait avant. Par conséquent, nous avons une majorité
  de résidents venant des autres départements.</P
>
<P
  >Pour la majorité, ils anticipent et demandent un accompagnement thérapeutique
  s’inscrivant dans la continuité en particulier auprès d’EDVO qui répond à ce
  besoin sur 12 mois sur le même modèle thérapeutique, en fonction de sa
  capacité d’accueil.</P
>
<P
  >L’expérience du changement est une étape particulièrement sensible et le
  risque de rechute est aigu. Elle se fait par étapes avec un accompagnement par
  des professionnels au sein de la structure.</P
>
<P
  >Le passage du groupe à l’individu, de l’identification des problèmes (la
  dépendance) à la singularité de vie doit être accompagné dans une structure
  thérapeutique et socio éducative.</P
>
<P
  >La reconstruction personnelle passe par l’acceptation des autres et des
  règles régissant toute communication.</P
>
<P
  >L’expérience collective et la vie communautaire imposent des règles de vie :
  Véritable école de communication et de réinsertion.</P
>
<p class="mb-5">
  Pour le résident, le fait d’accepter des règles de vie communautaire activera
  son sens des responsabilités et lui permettra de devenir acteur (ce qui est
  particulièrement gratifiant).
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <app-soin-card
      [id]="'modal1'"
      [title]="
        'La possibilité du changement est reconnue à la personne dépendant'
      "
      [description]="
        'Trop souvent, la personne dépendante se ressent comme incapable, dominée par des pulsions incontrôlables, enfermée dans une situation indicible, jugée négativement et définitivement par les autres.'
      "
    ></app-soin-card>
  </div>
  <div class="col">
    <app-soin-card
      [id]="'modal2'"
      [title]="'L’abstinence comme condition'"
      [description]="
        'Dans ce modèle la dépendance est considérée comme une maladie incurable et progressive. Par conséquent, le maintien dans l’abstinence est au cœur du processus thérapeutique.'
      "
    ></app-soin-card>
  </div>
  <div class="col">
    <app-soin-card
      [id]="'modal3'"
      [title]="'L’apprentissage de la responsabilité à EDVO '"
      [description]="
        'L’abstinence n’est pas un état mais un facteur de construction et d’évolution vers de nouvelles perspectives de vie. La personne dépendante redevient actrice, et c’est cette énergie remise en action qui redonne le sens de la responsabilité de soi.'
      "
    ></app-soin-card>
  </div>
  <div class="col">
    <app-soin-card
      [id]="'modal4'"
      [title]="'La vie communautaire et l’entraide'"
      [description]="
        'La vie communautaire est révélatrice des comportements à changer, et laboratoire d’expérimentation du changement. L’approbation ou la gratification du groupe sont très motivants.'
      "
    ></app-soin-card>
  </div>
  <div class="col">
    <app-soin-card
      [id]="'modal5'"
      [title]="'Le modèle utilisé en centre de soins puis à EDVO'"
      [description]="
        'La méthode d’accompagnement inspirée du Modèle Minnesota est une thérapie brève et intensive basée sur « l’ici et maintenant ».'
      "
    ></app-soin-card>
  </div>
  <div class="col">
    <app-soin-card
      [id]="'modal6'"
      [title]="'Quelques bases du travail thérapeutique à l’EDVO'"
      [description]="
        'L’éloignement géographique des lieux de consommation et des fréquentations initiales est nécessaire, surtout pendant et après sevrage, mais aussi pendant le séjour en centre de soins puis à EDVO et surtout la première année.'
      "
    ></app-soin-card>
  </div>
</div>
