<div class="card border-primary h-100 text-center">
  <div class="card-header">
    <h6>{{ title }}</h6>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ description }}
    </p>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#' + id"
    >
      En savoir plus
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="{{ id }}"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg text-start" id="{{ id }}">
        <div class="modal-content" id="{{ id }}">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              {{ title }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            @if(id === 'modal1'){
            <p>
              Trop souvent, la personne dépendante se ressent comme incapable,
              dominée par des pulsions incontrôlables, enfermée dans une
              situation indicible, jugée négativement et définitivement par les
              autres.
            </p>
            <p>
              Le groupe et l’environnement professionnel vont renvoyer une autre
              image de la dépendance, et permettre l’espérance. La motivation
              vient souvent en cours de route, des éléments déclencheurs sont à
              investir par chacun dans les activités hebdomadaires proposées..
            </p>
            } @else if (id === 'modal2') {
            <p>
              Dans ce modèle la dépendance est considérée comme une maladie
              incurable et progressive. Par conséquent, le maintien dans
              l’abstinence est au cœur du processus thérapeutique.
            </p>
            <p>
              Les rechutes sont clairement identifiés et servent de tuteurs au
              maintien de l’abstinence. La prévention de la rechute est un
              principe actif de la thérapie et s’appuie sur la valorisation de
              l’abstinence.
            </p>
            <p>
              Dans le modèle, l’abstinence est une condition incontournable pour
              en sortir et « rebondir », mais elle n’est pas le but du
              rétablissement. Elle constitue un préalable et non une fin en soi.
            </p>
            <p>
              La démarche thérapeutique vise à transformer l’échec en
              expérience, au bénéfice d’une réhabilitation sociale et affective.
              L’abstinence est vécue comme un « plus » et non comme facteur de
              frustration. Elle est consentie et non subie.
            </p>
            <p>
              Le maintien dans l’abstinence est lié à la motivation et
              l’implication du patient dans son rétablissement. Mais c’est aussi
              lui qui génère sa restructuration.
            </p>
            <p>
              La réinsertion sociale est indissociable de la confiance en soi de
              la personne et de sa capacité à élaborer des perspectives de vie,
              acceptables par elle et en référence à ses valeurs.
            </p>
            } @else if (id === 'modal3') {
            <p>
              L’abstinence n’est pas un état mais un facteur de construction et
              d’évolution vers de nouvelles perspectives de vie. La personne
              dépendante redevient actrice, et c’est cette énergie remise en
              action qui redonne le sens de la responsabilité de soi.
            </p>
            <p>C’est aussi le passage de victime à responsable.</p>
            <button
              class="btn btn-primary mb-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#apprentissage"
              aria-expanded="false"
              aria-controls="apprentissage"
            >
              En savoir plus
            </button>
            <div class="collapse my-3" id="apprentissage">
              <div class="card card-body">
                Si le patient n’est pas responsable de sa maladie, il l’est de
                son rétablissement. L’organisation de la vie communautaire est
                faite pour qu’il puisse exercer des responsabilités, et la
                dynamique de groupe nécessite une participation active : rôle de
                leader ou de co-leader sur 15 jours pour des activités au sein
                de la structure, témoignages auprès de jeunes consommateurs
                accompagnés de ou des parents dans notre point écoute, sorties
                sportives, 2 groupes thérapeutiques hebdomadaires et 4 séances
                de régulation mensuelles, entretiens individuels avec la
                conseillère ESF, les thérapeutes ou la psychologue sur son
                initiative pour le rendez-vous.
              </div>
            </div>

            <p>
              Il apprendra à gérer son adresse e-mail, son dossier
              administratif, son passif judiciaire ou pénal, son surendettement,
              ses loyers impayés, son déménagement et la restitution de son
              ancien appartement etc…, pour la plupart c’est un véritable
              réapprentissage où il faut poser des actes mais nous ne nous
              substituons pas à leur responsabilité. Le thérapeute référent ou
              l’équipe encadrante, encourage, redynamise, rappelle, demande des
              résultats, met des limites, valorise l’acte posé mais surtout
              l’acteur responsable.
            </p>
            } @else if (id === 'modal4') {
            <p>
              La vie communautaire est révélatrice des comportements à changer,
              et laboratoire d’expérimentation du changement. L’approbation ou
              la gratification du groupe sont très motivants.
            </p>
            <p>
              La vie communautaire est le cadre qui permet la démarche
              thérapeutique. Le vécu de chaque patient ou résident offre une
              visibilité aux autres, et constitue une partie de la matière sur
              laquelle la thérapie va œuvrer.
            </p>
            <p class="d-inline-flex gap-1">
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseVieCommunautaire"
                aria-expanded="false"
                aria-controls="collapseVieCommunautaire"
              >
                En savoir plus
              </button>
            </p>

            <div class="collapse my-3" id="collapseVieCommunautaire">
              <div class="card card-body">
                Vivre ensemble permet de devenir responsable et acteur de son
                lieu de vie et de rétablissement. Sur ce terrain l’encadrement
                des plus anciens et la validation de cette expérience sont des
                facteurs rassurants. Redevenir acteur de sa vie tout en
                apportant de l’aide est gratifiant. Savoir s’affirmer et ne pas
                être complaisant est constructeur.
              </div>
            </div>
            <p>
              L’entraide est un rempart contre la rechute et contre les
              comportements de transfert addictifs.
            </p>
            <p class="d-inline-flex gap-1">
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseLentraide"
                aria-expanded="false"
                aria-controls="collapseLentraide"
              >
                En savoir plus
              </button>
            </p>

            <div class="collapse my-3" id="collapseLentraide">
              <div class="card card-body">
                La validation et le renforcement de l’abstinence se fait par
                l’expérience personnelle, mais aussi par la transmission et
                l’entraide des anciens résidents aux nouveaux, en particulier
                dans les groupes accueil du mercredi soir suivi d’un repas
                collectif entièrement géré par le groupe. Ce groupe permet aux
                nouveaux de se présenter et de mieux connaître l’ensemble des
                pensionnaires ; nos anciens pensionnaires viennent un groupe sur
                deux, y apporter leur témoignage de vie avec 6 mois à 14 ans
                d’abstinence selon l’ancienneté.
              </div>
            </div>
            } @else if (id === 'modal5') {
            <p>
              La méthode d’accompagnement inspirée du Modèle Minnesota est une
              thérapie brève et intensive basée sur « l’ici et maintenant ».
            </p>
            <p class="d-inline-flex gap-1">
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse1"
                aria-expanded="false"
                aria-controls="collapse1"
              >
                En savoir plus
              </button>
            </p>
            <div class="collapse my-3" id="collapse1">
              <div class="card card-body">
                <p>
                  Notre méthode est une approche cognitivo-comportementale qui a
                  su évoluer au fil du temps.
                </p>
                <p>
                  La personne dépendante est soutenue par une approche cognitive
                  et comportementale, programmatique, qui va lui permettre de se
                  distancier de son statut de consommateur, de se réapproprier
                  son histoire, puis de devenir actrice de sa thérapie, à
                  travers les liens et l’entraide de ses pairs. Cette approche
                  est adaptée aux problèmes de l’addiction.
                </p>
                <p>
                  C’est également une démarche apparentée aux communautés
                  thérapeutiques. Le « vivre-ensemble » constitue le cadre
                  d’expression de chacun dans sa relation aux autres, et le
                  laboratoire d’expérimentation de nouveaux comportements. « La
                  participation à la vie collective selon des règles définies,
                  auxquelles la personne a librement souscrit constitue le cœur
                  du processus thérapeutique ».
                </p>
              </div>
            </div>
            <p>
              Les poly-toxicomanies et le passage d’un produit à un autre étant
              très fréquents (alcoolisation comme mode de sortie de l’héroïne ou
              dépendance aux médicaments pour sortir de l’alcoolisme), la
              démarche thérapeutique ne focalise pas sur les différents
              “produits de choix”, mais plutôt sur l’incapacité de la personne à
              maîtriser sa consommation de produits en général, et sur les
              conséquences qui en découlent.
            </p>
            <p class="d-inline-flex gap-1">
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse2"
                aria-expanded="false"
                aria-controls="collapse2"
              >
                En savoir plus
              </button>
            </p>
            <div class="collapse" id="collapse2">
              <div class="card card-body">
                <p>
                  Le fait d’écouter l’expérience d’une personne qui a pris
                  d’autres produits pour se sortir du (ou des) précédent(s), a
                  une fonction préventive pour une personne dépendante qui
                  pourrait avoir envie de les essayer plus tard, ou croire
                  qu’elle pourrait les consommer sans danger.
                </p>
                <p>
                  Malgré le fait qu’en France, beaucoup de professionnels posent
                  la question des difficultés de travailler avec “deux ou trois
                  populations, voir plus” (malades alcooliques, toxicomanes,
                  malades des jeux, pharmacos dépendants, ….) l’expérience
                  ailleurs depuis des dizaines d’années montre que les
                  demandeurs de soins se reconnaissent dans la notion générique
                  de la dépendance.
                </p>
              </div>
            </div>

            <p>
              Ces personnes dépendantes intègrent bien l’idée d’une similitude
              de leur problématique. De plus, une grande partie d’entre elles a
              déjà fait l’expérience d’autres produits pour “régler le
              problème”. Elles ont fait elles-mêmes le constat qu’elles
              réagissent de façon semblable face à tout produit, et non
              seulement face à leur “produit de choix” : Le problème n’est pas
              le produit, mais la relation au produit.
            </p>
            } @else if (id === 'modal6') {
            <p class="fw-bold text-center">
              L’éloignement géographique des lieux de consommation et des
              fréquentations initiales est nécessaire, surtout pendant et après
              sevrage, mais aussi pendant le séjour en centre de soins puis à
              EDVO et surtout la première année.
            </p>
            <p>
              La rupture avec les habitudes et le repérage des dangers se fait
              avec les appuis offerts par le groupe et les professionnels :
            </p>
            <ul class="list-group mb-3">
              <li class="list-group-item list-group-item-secondary">
                soutien de l’instabilité émotionnelle générée par la reprise de
                contact avec la réalité extérieure
              </li>
              <li class="list-group-item list-group-item-secondary">
                consolidation de la motivation de la personne en valorisant ses
                acquis
              </li>
              <li class="list-group-item list-group-item-secondary">
                activation des ressources de la personne
              </li>
              <li class="list-group-item list-group-item-secondary">
                restauration de l’estime de soi
              </li>
            </ul>
            <p>
              L’entraide, la reconstruction de liens positifs participent à la
              restauration de l’estime de soi par la restitution des valeurs
              personnelles et de l’affirmation de soi.
            </p>
            <p>
              Tous ces éléments du rétablissement sont nécessaires pour un
              retour à une autonomie durable et confortable, où l’épanouissement
              doit être manifeste pour produire l’effet miroir recherché et
              avoir de l’attrait pour les autres.
            </p>
            }
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
