<div class="card h-100">
  <img
    src="ai-generated-9023023_640.jpg"
    class="card-img-top h-50"
    alt="ai-generated-9023023_640.jpg"
  />
  <div class="card-body">
    <h5 class="card-title">L’abstinence comme condition</h5>
    <p class="card-text">
      Dans ce modèle la dépendance est considérée comme une maladie incurable et
      progressive.
    </p>
    <app-modal
      button="En savoir plus"
      title="L’abstinence comme condition"
      p1="Les rechutes sont clairement identifiés et servent de tuteurs au maintien de l’abstinence. La prévention de la rechute est un principe actif de la thérapie et s’appuie sur la valorisation de l’abstinence."
      p2="Dans le modèle, l’abstinence est une condition incontournable pour en sortir et « rebondir », mais elle n’est pas le but du rétablissement. Elle constitue un préalable et non une fin en soi."
      p3="La démarche thérapeutique vise à transformer l’échec en expérience, au bénéfice d’une réhabilitation sociale et affective. L’abstinence est vécue comme un « plus » et non comme facteur de frustration. Elle est consentie et non subie."
      p4="Le maintien da ns l’abstinence est lié à la motivation et l’implication du patient dans son rétablissement. Mais c’est aussi lui qui génère sa restructuration."
      p5="La réinsertion sociale est indissociable de la confiance en soi de la personne et de sa capacité à élaborer des perspectives de vie, acceptables par elle et en référence à ses valeurs."
    ></app-modal>
  </div>
</div>
