<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Devenir bénévole
</h3>
<p class="fw-bold">AGIR AVEC EDVO</p>
<p class="fw-bold">
  EDVO recrute son responsable de la communication et des partenariats
</p>
<p>
  Vous êtes sensible à l’action de l’association ? Etudiant(e), retraité(e),
  mécène de compétences…Vous êtes créatif, bon communiquant et vous bénéficiez
  de 6 heures de disponibilité par semaine ? Alors ce poste de bénévole ou de
  mécène de compétences est fait pour vous !
</p>
<p>
  Vous pourrez mener la mission à distance (télétravail), avec des réunions
  occasionnelles à Montmagny, Val d’Oise, à 15 min de la gare Saint Lazare.
</p>
<p>
  Vous serez partie prenante d’une équipe chaleureuse et unie. Avec la
  participation des résidents, vous montrez et pilotez des projets pour ouvrir
  et faire connaître l’association dans différents milieux, notamment le monde
  de l’art contemporain. Ainsi, votre très beau premier défi sera d’organiser la
  participation de l’EDVO à la FIAC de Paris, en Octobre 2021, au grand palais.
</p>
<p>
  Vous souhaitez en savoir plus ? Découvrez ici la fiche de poste détaillée.
</p>
