<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex mb-3">
  Séance d’information préventive et de développement du sens critique avec
  débats et témoignages sur les conséquences de l’addiction ou de consommations
  abusives de produits psychoactifs. (2h00 par groupe de 2 classes)
</h3>
<p class="fw-bold">
  Exposé rapide avec supports audiovisuels sur la géopolitique des drogues et la
  criminalité ; les conséquences sur l’écologie, sur notre vie en société, sur
  la famille, sur l’équilibre et la santé; les produits licites ou illicites
  dangereux pour la santé et évolution des consommations (chicha, binge
  drinking, usage festif, de fuite, de confort, de dopage) et leurs
  banalisations ; les nouvelles addictions ; les motivations d’expérimentation…
  Incitation à poursuivre le débat ensuite avec les référents scolaires sur les
  sujets évoqués, puis exposé interactif avec les élèves pour permettre à un
  public jeune de se situer dans un environnement à risques.
</p>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    information sur l’ensemble des risques et sur les conduites addictives
  </li>
  <li class="list-group-item list-group-item-secondary">
    aider l’adolescent à se responsabiliser sur le plan individuel et collectif
    face à l’offre
  </li>
  <li class="list-group-item list-group-item-secondary">
    aide à construire un argumentaire favorable à l’affirmation de soi ou à
    l’acceptation de sa différence dans un refus d’expérimentation ; attitude
    d’auto-défense par rapport à la pression du groupe pour rester acteur de ses
    choix
  </li>
  <li class="list-group-item list-group-item-secondary">
    conseils pour gérer au mieux ses émotions, son mal être, ses difficultés
    relationnelles ; s’appuyer sur l’entraide et savoir demander de l’aide
  </li>
  <li class="list-group-item list-group-item-secondary">
    être citoyen à 13, à 16, à 18 ans : responsabilités, signification de la
    légalisation, dépénalisation. La mode et l’évolution des mœurs dans notre
    société dite de consommation et comment faire les bons choix
  </li>
  <li class="list-group-item list-group-item-secondary">
    témoignage de deux ex polytoxicomanes, sur leurs expériences en début de
    consommation, sur l’accoutumance et la dépendance ainsi que les conséquences
    sur le plan personnel, familial et leur environnement
  </li>
  <li class="list-group-item list-group-item-secondary">
    réponses aux questions (les enseignants sont invités à laisser les élèves
    seuls avec le ou les intervenants) et informations sur les possibilités
    d’aide
  </li>
  <li class="list-group-item list-group-item-secondary">
    évaluation anonyme (questionnaire)
  </li>
  <li class="list-group-item list-group-item-secondary">
    remise d’une documentation émanant de la MILDT ou du CODES
  </li>
</ul>
<p class="fw-bold">Nos préventions concernent les différents secteurs:</p>
<ol class="list-group list-group-numbered mb-3">
  <a href="#cm2" class="list-group-item list-group-item-action"
    >Pour les élèves de CM2</a
  >
  <a href="#cyberAddiction" class="list-group-item list-group-item-action"
    >Pour la prévention sur les cyber-addictions</a
  >
  <a href="#ecoute" class="list-group-item list-group-item-action"
    >Point écoute Parents/Adolescents</a
  >
  <a href="#addiction" class="list-group-item list-group-item-action"
    >Pour les victimes d’addiction : écoute, suivi ambulatoire, orientation sur
    les soins chez nos partenaires</a
  >
  <a href="#formation" class="list-group-item list-group-item-action"
    >Formation</a
  >
  <a
    href="pdf/fiche-orientation-dossier-admission-maison-relais.pdf"
    class="list-group-item list-group-item-action"
    >Programme sur les addictions en milieu scolaire (à télécharger)</a
  >
</ol>

<div id="cm2">
  <app-cm2></app-cm2>
</div>
<div id="cyberAddiction">
  <app-cyber-addictions></app-cyber-addictions>
</div>
<div id="ecoute">
  <h4>Point écoute Parents/Adolescents</h4>
  <p class="fw-bold">
    Sur rendez-vous au siège de l’Association Nationale EDVO 4, rue Gallieni
    Montmagny (95360), garantissant anonymat, confidentialité et gratuité
  </p>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-secondary">
      aide à l’auto-évaluation de ce qui pose problèmes au niveau des parents,
      des adolescents et propositions de changements maîtrisables par chacun
    </li>
    <li class="list-group-item list-group-item-secondary">
      recréer du lien à l’échelle familiale grâce à l’entraide
    </li>
    <li class="list-group-item list-group-item-secondary">
      information sur les possibilités d’aide périphérique à la famille par
      soutien psychologique avec un professionnel
    </li>
    <li class="list-group-item list-group-item-secondary">
      conseils pour devenir acteur de changements ou comment poser l’acte
      régulateur quotidien, gérer les émotions et savoir demander de l’aide
    </li>
    <li class="list-group-item list-group-item-secondary">
      proposition d’entretiens successifs, évaluation des changements et
      conséquences
    </li>
  </ul>
</div>
<div id="victimes">
  <h4>
    Pour les victimes d’addiction : écoute, suivi ambulatoire, orientation sur
    les soins chez nos partenaires
  </h4>
  <p class="fw-bold">
    Un thérapeute d’EDVO est spécialement affecté à ce service et offre une
    large palette de possibilités de prise en charge ou de suivi au cas par cas.
  </p>
</div>
<div id="formation">
  <h4>Formation</h4>
  <p class="fw-bold">
    Avec des modules de 1 à 5 jours, nous formons tout intervenant dans le
    domaine de la prévention des conduites addictives, de l’écoute ou de la
    prise en charge de victimes d’addiction. (Contenu de ces modules de
    formation adaptable et transmis sur demande)
  </p>
</div>

<div id="intervenants">
  <h4>Les intervenants</h4>
  <div class="p-3 border-start border-secondary border-5">
    <p class="fw-bold">Jean-Paul Bruneau</p>
    <p class="fw-bold">Formateur – Conférencier</p>
    <p class="fw-bold">
      Président fondateur de l’Association Nationale E.D.V.O., assurant le suivi
      de polytoxicomanes depuis 1987
    </p>
    <p>Formateur anti-drogue Police Nationale, retraité</p>
    <p>D.U. toxicomanie/dopage Faculté de Médecine d’Angers</p>
    <p>D.U. Addictions et psychiatrie à l’Université Paris Diderot</p>
  </div>
</div>
