<footer class="container-fluid bg-primary text-light text-center">
  <div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between align-items-md-start"
  >
    <img
      src="logo-edvo-bis.png"
      width="250"
      height="150"
      alt="logo"
      class="p-3 mb-5"
    />

    <div class="text-md-start mb-3 p-3">
      <h6 class="fw-bold text-light">Contacter nous</h6>

      <ul class="list-group list-group-flush">
        <a
          href="tel:+ 01 34 28 64 50"
          class="list-group-item list-group-item-action bg-primary text-light"
          >+ 01 34 28 64 50</a
        >
        <a
          href="mailto:secretariat@edvo.fr"
          class="list-group-item list-group-item-action bg-primary text-light"
          >secretariat&#64;edvo.fr</a
        >
        <div
          class="d-flex justify-content-center justify-content-md-start list-group-item list-group-item-action bg-primary text-light"
        >
          <a
            class="nav-link d-flex"
            href="https://www.facebook.com/edvo.addictions"
            target="_blank"
          >
            <i class="bi bi-facebook me-1"></i>
          </a>
          <a
            class="nav-link d-flex"
            href="https://x.com/edvo_addictions?s=09"
            target="_blank"
          >
            <i class="bi bi-twitter me-1"></i>
          </a>
          <a
            class="nav-link d-flex"
            href="https://www.instagram.com/e_d_v_o/"
            target="_blank"
          >
            <i class="bi bi-instagram me-1"></i>
          </a>
        </div>
      </ul>
    </div>
    <div class="text-md-start mb-3 p-3">
      <h6 class="fw-bold text-light">Document à téléchargé</h6>
      <ul class="list-group list-group-flush">
        <a
          href="pdf/Livret-accueil-EDVO-HS-11.2024.pdf"
          class="list-group-item list-group-item-action bg-primary text-light"
          >Le livret d’accueil 2024</a
        >
        <a
          href="pdf/dossier-de-preadmission.pdf"
          class="list-group-item list-group-item-action bg-primary text-light"
          >Le formulaire de demande d’admission</a
        >
        <a
          href="pdf/reglement-de-fonctionnement.pdf"
          class="list-group-item list-group-item-action bg-primary text-light"
          >Le règlement intérieur de la structure</a
        >
      </ul>
    </div>
    <div class="text-md-start my-4 p-3">
      <p>Conception Web par HN Services</p>
      <p>Site optimisé par l’agence HN Services</p>
    </div>
  </div>

  <div>© Association nationnale EDVO. Tous droits réservés.</div>
</footer>
