<footer class="container-fluid bg-primary text-light text-center">
  <div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between align-items-md-start"
  >
    <img
      src="logo-edvo-bis.png"
      width="200"
      height="150"
      alt="logo"
      class="p-3 mb-5"
    />
    <div class="text-md-start mb-3 p-3">
      <h6 class="fw-bold text-light">Contact us</h6>
      <p>Admissions 01 34 28 64 50</p>
      <p>info&#64;livingstonehouseuk.org</p>
      <div class="d-flex justify-content-center justify-content-md-start">
        <a
          class="nav-link link-light d-flex"
          href="https://www.facebook.com/edvo.addictions"
          target="_blank"
        >
          <i class="bi bi-facebook me-1"></i>
        </a>
        <a
          class="nav-link link-light d-flex"
          href="https://x.com/edvo_addictions?s=09"
          target="_blank"
        >
          <i class="bi bi-twitter me-1"></i>
        </a>
        <a
          class="nav-link link-light d-flex"
          href="https://www.instagram.com/e_d_v_o/"
          target="_blank"
        >
          <i class="bi bi-instagram me-1"></i>
        </a>
      </div>
    </div>
    <div class="text-md-start mb-3 p-3">
      <h6 class="fw-bold text-light">Plus d’informations</h6>
      <p>Téléchargez notre brochure</p>
      <p>Politique de confidentialité</p>
      <p>Conditions d'utilisations</p>
    </div>
    <div class="text-md-start my-4 p-3">
      <p>Conception Web par HN Services</p>
      <p>Site optimisé par l’agence HN Services</p>
    </div>
  </div>

  <div>© Association nationnale EDVO. Tous droits réservés.</div>
</footer>
