<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Hôtel social
</h3>

<p>
  L’hôtel social de l’EDVO est une structure d’accueil situé au
  <a
    target="_blank"
    href="https://www.google.fr/maps/place/Association+Nationale+EDVO/@48.9734902,2.3467222,17z/data=!3m1!4b1!4m5!3m4!1s0x47e6690bdc2b02b1:0xaec06c19d2dd7f2d!8m2!3d48.9734902!4d2.3489109"
    >4 Rue Gallieni, 95360 Montmagny.</a
  >
</p>
<p>
  Cet accueil s’adresse à toute personne victime d’addictions, souhaitant se
  rétablir et se réinsérer sur la base d’une abstinence de tous produits
  modifiant le comportement. C’est une méthode de prise en charge globale.
</p>
<p>
  Nous proposons un accompagnement pluridisciplinaire d’1
  <span class="my-tooltip my-tooltip bg-primary text-light text-center"
    >?
    <span class="my-tooltiptext p-1 bg-primary"
      >6 mois renouvelable une fois</span
    >
  </span>
  an s’appuyant sur une dynamique de groupe spécifique et une thérapie par
  l’entraide (modèle Minnesota), visant le rétablissement et la réinsertion
  sociale par étapes avec accès à une autonomie durable.
</p>
<p class="fw-bold">L’équipe de l’EDVO est composée de la manière suivante :</p>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    le responsable de l’EDVO
  </li>
  <li class="list-group-item list-group-item-secondary">
    a CESF
    <span class="my-tooltip my-tooltip bg-primary text-light text-center"
      >?
      <span class="my-tooltiptext p-1 bg-primary"
        >Conseiller en Economie Social et Familiale</span
      >
    </span>
  </li>
  <li class="list-group-item list-group-item-secondary">3 thérapeutes</li>
  <li class="list-group-item list-group-item-secondary">
    la maîtresse de maison
  </li>
  <li class="list-group-item list-group-item-secondary">
    l’animateur de l’atelier informatique
  </li>
  <li class="list-group-item list-group-item-secondary">le comptable</li>
</ul>
<p>
  Le fonctionnement de l’hôtel social s’organise de manière communautaire selon
  des règles de vies communes (PJ : règlement intérieur de l’EDVO ou extraits).
</p>
<p>
  Les résidents effectuent un travail thérapeutique obligatoire basé sur des
  groupes de thérapie, des entretiens individuels avec les thérapeutes, des
  travaux de groupe basés sur des objectifs définis par les thérapeutes.
</p>
<p>
  La structure héberge 34 personnes (26 personnes dans la maison principale et 8
  personnes dans les studios). Les résident sont logés en chambre double ou
  simple.
</p>
<p>
  L’admission à l’EDVO est possible après une post cure spécialisée dans le
  traitement de la dépendance et des addictions. Elle fait l’objet d’un
  entretien préalable avec notre équipe.
</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @for (image of images; track $index) {
  <app-hospital-carousel
    [scr]="image.src"
    [alt]="image.alt"
    [id]="image.id"
  ></app-hospital-carousel>
  }
</div>
