<section class="container mb-3">
  <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
    Inscrivez-vous à notre newsletter
  </h3>

  <p>
    Tenez vous informer pour connaitre nos prochains événements ! (Brocantes aux
    épiceries sociales, collectes alimentaires...)
  </p>
  <div class="border border-1 p-5">
    <label for="inputPassword5" class="form-label"
      >Email<span class="text-danger">*</span></label
    >
    <input
      type="email"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
      placeholder="Entrer votre adresse email (obligatoire)"
    />
    <a
      class="btn btn-primary mt-3"
      href="mailto:https://edvo.us19.list-manage.com/subscribe/post?u=dfec9f312fd0ebaeeefc43775&id=2c181e3364"
    >
      S'inscrire !</a
    >
  </div>
</section>
