<h4>Pour la prévention sur les cyber-addictions :</h4>
<p class="fw-bold">
  Nous intervenons de préférence par groupe de deux classes, sur 2 h en
  interactif avec les élèves, avec deux courts témoignages d’ex victimes
  d’addiction dans ce domaine, pour faire réagir et répondre aux questions et en
  utilisant successivement des films déclencheurs de quelques minutes illustrant
  les abus ou les dangers de:
</p>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    la téléphonie mobile, l’abus d’écran, l’exploitation des réseau sociaux
    (facebook, instagram…., le harcèlement et les injures par réseaux, le droit
    à l’image, le happy-slapping, les poursuites judiciaires, la
    cyber-surveillance…)
  </li>
  <li class="list-group-item list-group-item-secondary">
    l’addiction aux jeux persistant, permanents ?, aux jeux d’argent, aux jeux
    vidéo et les jeux dangereux et les effets sur le cerveau et les troubles du
    comportement.
  </li>
  <li class="list-group-item list-group-item-secondary">
    conseils aux personnes concernées et aux parents dans le cadre éducatif et
    contacts utiles pour se faire aider
  </li>
  <li class="list-group-item list-group-item-secondary">
    les témoignages d’ex cyberdépendants n’est pas une nécessité car les films
    sont suffisamment explicites pour illustrer les conduites à risques dans ce
    domaine
  </li>
  <li class="list-group-item list-group-item-secondary">
    le choix des supports vidéo peut se faire avec vous pour l’animation des
    séances. Un temps de préparation avant les interventions est conseillé.
  </li>
</ul>
<p class="fw-bold">
  Nous pouvons vous remettre ces supports vidéo sur une clé USB pour les
  ateliers que peuvent ensuite animer vos éducateurs. Au préalable une séance de
  formation par nos soins est nécessaire.
</p>
