<h4>Pour les élèves de CM2</h4>
<p>
  Pour les éléves de CM2 nous proposons une séance de 1h30 avec pour trâme un
  film, La Casette Histoire de Pascale (durée 12mns) qui permet la
  sensibilisation des enfants sur les comportements à risques à leur âge. Notre
  méthode interactive et la participation des élèves générent de bon résultats
  en relation à leur vécu dans ce domaine : les situations à risques dont ils
  font état sont reprises par l’intervenant afin de les sensibiliser sur les
  conséquences repérables. Les sujets abordés sont : le téléphone portable et
  les jeux en réseau, la cyber dépendance et le harcélement, internet, l’alcool,
  le tabac, le cannabis….
</p>
<p>
  Nous abordons aussi le jeu avec la notion d’interdit, la pression du groupe,
  le savoir dire non et la demande d’aide. La présence discrète d’un enseignant
  que nous désignons en fin de séance comme adulte référant pour continuer
  ensuite la discussion nous semble très utile. A la demande de l’établissement,
  nous pouvons également apporter le témoignage d’un ou deux de nos
  pensionnaires qui décrivent comment cela a commencé pour eux et leurs copains
  à leurs âges et comment cela a évolué avec les conséquences. Nous terminons
  avec un débat basé sur l’inventaire de leur capacité et possibilités de
  réaction pour éviter ces expérimentations à risques.
</p>
<p class="fw-bold">
  Le rôle des parents face à leurs enfants qui expérimentent des produits ou des
  comportements compulsifs de fuite de leur mal être (2h30)
</p>
<p class="fw-bold">
  Exposé avec supports visuels partant de la géopolitique des drogues, allant
  jusqu’aux conséquences de l’usage des produits psycho-actifs licites et
  illicites dangereux (45 minutes), suivi d’exposés/débat concernant les points
  suivants
</p>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    informations sur les comportements à risques des adolescents,
    particulièrement ceux les plus en difficulté avec leur émotions, leur
    sensibilité et leur vulnérabilité face à l’usage des produits psycho actifs
    ou face à un comportement compulsif de fuite
  </li>
  <li class="list-group-item list-group-item-secondary">
    informations sur les troubles « repérables » motivant l’intervention
    Parent/Enseignant quand il y a usage de produit modifiant le comportement et
    les autres types d’addictions
  </li>
  <li class="list-group-item list-group-item-secondary">
    information sur les attitudes favorisant l’écoute et l’échange avec l’enfant
    ou l’adolescent en difficulté ; évaluation de situations avec les recadrages
    possibles en terme de limites
  </li>
  <li class="list-group-item list-group-item-secondary">
    entre autorité et médiation, comment se situer pour recréer du lien et
    donner du sens aux règles éducatives, surtout dans la trilogie
    Parent/Enseignant/Adolescent
  </li>
  <li class="list-group-item list-group-item-secondary">
    exemples d’initiatives d’entraides entre Parents, entre Parent et Enseignant
    et information sur les groupes de paroles Parents, sur les points écoute
    Parents/Adolescent
  </li>
  <li class="list-group-item list-group-item-secondary">
    témoignage d’un ou deux dépendants sur le début de consommation, sur la
    progression et les conséquences, sur les principales raisons de leurs
    conduites à risques, sur leurs attentes avant et après consommation dans le
    cadre familial et éducatif, sur les changements nécessaires pour évoluer
    dans leur nouveau choix de vie
  </li>
  <li class="list-group-item list-group-item-secondary">
    réponses aux questions et débat
  </li>
  <li class="list-group-item list-group-item-secondary">
    bibliographie et documentation complémentaire remises en fin d’intervention
    complémentaire remises en fin d’intervention
  </li>
</ul>
<p class="fw-bold">
  Nous intervenons tous les ans auprès des élèves dans les établissements
  scolaires suivants :
</p>
<p class="fst-italic">
  Jeanne d’Arc (Franconville 95), G. Eiffel (Varennes s/Seine 81), Blanche de
  Castille (Le Chesnay 78), St Jean (Verdun 55), St Vincent (Versailles 78),
  Jeanne d’Arc (Palaiseau 91), Collège du Luat (Piscop 95), ND de la Providence
  (Enghien les Bains 95), Collège ND de la Compassion (Pontoise 95),
  Rochefeuille (Mayenne 53), Notre Dame (La Flèche (72), Ste Anne (Sablé sur
  Sarthe 72), François Albert (Noeux les Mines 62), St Joseph (Boulogne 92), Ste
  Anne (Montesson 78), St Dominique (Mortefontaine 60), Jean Cocteau (Maisons
  Laffitte 78), Ste Marie (St Pierre les Nemours 77), G. Clémenceau (Champagne
  s/Seine 77), Blanche de Castille et François 1er (Fontainebleau 77), Service
  Jeunesse Mairie (Montmagny 95), Jeanne d’Arc (Melun 77), Vasco de Gama
  (Nemours 77), Notre Dame (Baugé 49), St François d’Assisse (Montigny le
  Bretonneux 78), Immaculée Conception-JB de la Salle et Ste Thérèse (Laval 53),
  Notre Dame et St Augustin (St Germain en Laye 78), Don Bosco (Mayenne 53), St
  Gabriel (Bagneux 92), Ste Clotilde (Paris 75), Jeanne d’Arc (Etampes 91), St
  Geneviève (Asnières 92), Notre Dame de Sion (Evry 91), L’Ardillère de Nézant
  (St Brice ss Forêt 95), Auguste Renoir (Limoge 87)…
</p>
