<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  EDVO : son histoire, son évolution, ses espoirs … et de nombreuses vies
  sauvées depuis 24 ans.
</h3>

<div class="border-start border-dark border-3">
  <div class="card ms-3 my-4 position-relative">
    <div class="info p-3">
      <h3 class="title">1. Le fondateur, Jean-Paul BRUNEAU</h3>
      <p class="fw-bold">Jean-Paul BRUNEAU est un ancien policier.</p>
      <p>
        Entre 1980 et 1987, il est chargé des affaires des mineurs et des
        affaires de stupéfiants(Avec une formation de PFAD « Policier Formateur
        Anti Drogues ») sur la circonscription de Montmorency puis sur celle de
        Deuil la Barre (Val d’Oise). A titre professionnel et parallèlement à
        titre bénévole, il intervient en prévention dans le milieu scolaire, en
        formation et participe à de nombreux séminaires et conférences tant en
        France qu’à l’Etranger.
      </p>
      <p>
        Il adhére à la FNAPT(Fédération Nationale des Associations de Prévention
        des Toxicomanies) créée dans les années 80 par des Rotariens(Commissaire
        René Galy à Nice, Docteur Roger Aguillaume à Fontainebleau, professeur
        Jean-Pierre Anger à Rennes et Henry Corretel à Lyon) et intervient en
        qualité de conseiller technique à titre associatif. Il développe des
        actions de formation d’acteurs de prévention auprès des Associations
        membres de cette Fédération à l’échelle Nationale.
      </p>
      <p>
        Il anime aussi bénévolement un premier groupe d’entraide de parents
        victimes des problèmes d’addiction de leurs proches(ce groupe de paroles
        réservé aux proches du malade d’addiction fonctionne toujours au 4 rue
        Gallieni à Montmagny et animé par une Administratrice d’EDVO formée pour
        cette mission).
      </p>
    </div>
  </div>
  <div class="card ms-3 my-4 position-relative">
    <div class="info p-3">
      <h3 class="title">2. La naissance de l’EDVO</h3>
      <p class="fw-bold">
        Après avoir orienté et suivi bénévolement plus d’une trentaine de
        toxicomanes pour les amener à se soigner avec succès, Jean-Paul BRUNEAU
        crée en 1987 deux associations aux fonctions complémentaires :
      </p>
      <p>
        – L’APRET : Association Pour la Réinsertion des Ex-Toxicomanes (2
        maisons louées pour 10 places d’hébergement à Montmagny, une première
        épicerie sociale en sous-sol pour les pensionnaires et les familles en
        difficulté de la commune)
      </p>
      <p>
        – EDVO : Espoir du Val d’Oise (pour les actions de prévention dans le
        département) avec le soutien des Rotary et Lions Clubs de la région
        parisienne.
      </p>
      <p>
        Il dirige ces deux associations bénévolement en parallèle de sa fonction
        en police nationale.
      </p>
      <p>
        En 1988, étant devenu formateur dans plusieurs disciplines auprès des
        policiers du Val d’Oise, il est affecté à la DDSP 95 en brigade
        départementale des stupéfiants et des mineurs. En 1990, il devient
        responsable du CDSF pendant 7 ans, puis il met en place et encadre
        durant deux ans, à la DDSP 95, le service Prévention Communication,
        chargé des actions prévention police sur l’ensemble du Département. Il
        est ensuite détaché auprès de l’ANAS(Association Nationale Action
        Sociale des personnels de la police nationale et du Ministère
        del’Intérieur) où il crée le réseau « toxicomanie solidarité » avec deux
        de ces collègues qu’il a formé pour venir en aide aux membres du
        Ministère de l’Intérieur en difficulté, confrontés à un problème
        d’addiction chez un de leur proche.
      </p>
      <p>
        En 1993, les deux associations APRET et EDVO fusionnent sous une même
        dénomination (bulle : JO n°5 du 3 février 1993) Espoir du Val d’Oise
        (E.D.V.O.) sous la présidence de Jean-Paul BRUNEAU.
      </p>
      <p>
        Depuis 1987, ses nombreuses conférences et formations faites dans
        différentes régions de France, souvent avec l’organisation des Rotary
        clubs locaux, ont abouti à la création d’associations par les acteurs de
        terrain qu’il a formé(Le Phare 69 à Lyon , Pour une Jeunesse sans drogue
        à Toulon, EFAIT à Lorient, ADELT 89 à Sens, Vigilance à l’Isle Adam 95,
        Stop à la drogue à Lille, Merci la vie à Montmagny,…) bon nombre de
        Rotariens(Henri Corretel à Lyon, à Roanne, dans le beaujolais…, François
        Momeux et Jean-Pierre Anger sur les départements bretons, Michel Pinchon
        dans l’Aube, Jean-Michel Crinière dans la Mayenne) sont devenus des
        intervenants en prévention et ont permis à EDVO d’assurer tous les ans,
        dans plusieurs départements, la prévention en milieu scolaire.
      </p>
      <p>
        Jean-Paul Bruneau intervient également au Sénégal pour la formation
        d’acteurs de prévention et EDVO parraine l’Association PEIC Marilou à
        Tivaouane depuis 2002.
      </p>
      <p>
        Retraité depuis 2004, le Président d’EDVO, Jean-Paul Bruneau a continué
        d’assumer la fonction permanente de Président bénévole .
      </p>
    </div>
  </div>
  <div class="card ms-3 my-4 position-relative">
    <div class="info p-3">
      <h3 class="title">3. L’évolution depuis 1993</h3>
      <p>
        L’association s’est orientée de plus en plus vers la prise en charge des
        malades dépendants (stupéfiants, alcool,….) choisissant l’abstinence
        plutôt que la substitution, s’inspirant de la méthode dite Minnesotta
        pour les sortants de cure.
      </p>
      <p>
        EDVO bénéficie d’un agrément pour l’hébergement temporaire, avec
        principalement des subventions ALT(Allocation Logement Temporaire) de la
        DDCS pour l’hôtel social et de l’agrément Etat pour la maison relais
        depuis 2016. Depuis 2021, EDVO bénéficie également de l’aide de l’Etat
        pour la création d’une épicerie mobile, et du conseil départemental pour
        l’aide alimentaire auprès des publics jeunes en difficulté.
      </p>
      <p class="fw-bold">
        L’activité centrale, à laquelle se consacrent les 10 salariés d’EDVO,
        consiste en :
      </p>
      <ul class="list-group mb-3">
        <li class="list-group-item">
          l’accompagnement à l’accès des structures de soins
        </li>
        <li class="list-group-item">
          l’hébergement sur 26 places des sortants de cure pour une durée de 6 à
          12 mois
        </li>
        <li class="list-group-item">
          l’accompagnement social en vue de la réinsertion sociale et
          professionnelle avec abstinence de tout produit modifiant le
          comportement, ceci, jusqu’à l’autonomie ou l’accès aux appartements
          thérapeutiques
        </li>
      </ul>
      <p>
        L’EDVO oeuvre aussi à développer des actions de prévention auprès des
        mineurs et des parents
      </p>
      <p>
        La prévention concerne chaque année environ 9 000 à 10 000 élèves et une
        centaine de professionnels pour les formations.
      </p>
      <p>
        Les activités périphériques d’EDVO apportent un service ou une aide
        financière à l’activité centrale précitée ; ces activités périphériques
        sont essentiellement animées par des bénévoles sous contrôle des
        salariés ou du Directeur bénévole, à savoir : Prévention en milieu
        scolaire et auprès des parents d’élèves, formation d’acteurs relais,
        groupe d’entraide Parents, point écoute Parent/Adolescent, accueil des
        mineurs en réparation pénale et des majeurs condamnés T.I.G. , atelier
        informatique, épiceries sociales.
      </p>
      <p>
        Les actions de prévention et de formation d’EDVO sont demandées sur
        l’ensemble du territoire ; elles sont gérées par le Président (titulaire
        du D.U. toxicomanie-dopage de la Faculté de Médecine d’Angers et plus
        récemment en 2012, du D.U. « Addictions cliniques des risques et
        dépendances » de l’Université Paris Diderot – Paris 7) ainsi que par des
        professionnels missionnés par EDVO pour pouvoir satisfaire toutes les
        demandes.
      </p>
      <p>
        Nous travaillons en réseau avec des partenaires que nous avons choisi au
        cours de ces 24 années de pratique.
      </p>
      <p>
        Depuis, notre programme de suivi des personnes hébergées (26 en hôtel
        social, plus 8 places grâce à une extension sur notre propriété de
        Montmagny + 9 en appartement) sortant de cure pour la majorité, s’appuie
        sur une dynamique d’entraide et de redynamisation ; soit en moyenne 70 à
        90 personnes par an.
      </p>
      <p>
        Actuellement nos 26 places sont agréées en ALT (Allocation Logement
        Temporaire) mais nous avons perdu l’agrément FSL sur 26 places depuis
        2008 en raison du changement du cahier des charges imposé par le Conseil
        Général du Val d’Oise. Il nous a cependant attribué une subvention
        exceptionnelle en 2008 renouvelée en 2009 « mais supprimée en 2010 »
        dans l’attente d’un Agrément différent correspondant à notre
        spécificité, mais à trouver par nos soins !
      </p>
      <p>
        Notre prix de journée est le plus bas parmi toutes les autres
        propositions d’hébergement dans le département
      </p>
      <p>
        Par notre travail en réseau, avec des partenaires choisis, nous avons
        mis en place un formidable « outil » de réinsertion qui permet le retour
        à une autonomie sociale et professionnelle durable pour les deux tiers
        des personnes ayant suivi l’intégralité du programme.
      </p>
    </div>
  </div>
  <div class="card ms-3 my-4 position-relative">
    <div class="info p-3">
      <h3 class="title">4. Nos mécènes</h3>
      <p>
        En 2008, l’Association perdant la possibilité de créer une Communauté
        Thérapeutique, se retrouve dans l’obligation de renouer avec les
        agréments initiaux et se trouve en difficulté financière provisoire.
      </p>
      <p>
        Nathalie AUBERT, thérapeute à EDVO, nous présente alors son frère,
        Jean-Louis AUBERT artiste bien connu, qui décide de nous faire un don de
        30 000 € via l’association « Les aventuriers d’un autre monde » pour le
        fonctionnement d’EDVO.
      </p>
      <p>
        En 2009, Jean-Pierre DETEIX, thérapeute à EDVO, nous présente un de ses
        amis, Monsieur Michel TROLLE. Sensible aux valeurs que défend EDVO, il
        crée la Fondation SEVEN EMM pour nous aider pendant 5 ans, à hauteur de
        30 000 € par an, afin qu’EDVO poursuive son œuvre en faveur des sortants
        de cure et surtout pour le suivi ambulatoire des personnes en grande
        difficulté avec une addiction.
      </p>
      <p>
        En renouvelant chaque année ce don important pour EDVO, il contribue
        grandement à la réussite de notre action.
      </p>
      <p class="fw-bold">En 2010</p>
      <p>
        Monsieur André BOISSIER, dans la continuité de l’action menée par sa
        mère, Marie Françoise BOISSIER « Rotarienne au club
        d’Enghien-Montmorency, membre fondateur d’EDVO, décide d’aider notre
        association via sa société « U les Nouveaux Commerçants », avec un don
        de 30 000 € destiné à la réalisation de nos 9 places supplémentaires.
      </p>
      <p>
        Depuis 2010, pour notre approvisionnement alimentaire des épiceries
        sociales, le Rotary Club de St Gratien nous a fait don d’un camion
        master Renault et contribue à notre action en faveur des plus démunis
        par des collectes alimentaires
      </p>
      <p class="fw-bold">En 2011</p>
      <p>
        Notre marraine auprès de Vinci, Danièle CORDY, Vice-présidente d’EDVO,
        nous permet de sensibiliser la Fondation VINCI pour la Cité pour
        soutenir notre projet de création des 9 places supplémentaires, qui
        vient de nous accorder un don de 26 000 €.
      </p>
      <p class="fw-bold">En 2012</p>
      <p>
        Grace au soutien d’un membre de l’association ADEA, Odile Dremière
        Durosoy et de son gendre Guillaume Jouin (Association de Défense et
        d’Entraide des Andevilliens, créée en 2009 et dirigée par Jean-Paul
        Bruneau, « adea.andeville.over-blog.fr », Association parrainée par
        EDVO), nous avons l’accord d’un don de participation à hauteur de 50 000
        euros de la Fondation du BTP pour la réalisation de nos 9 places
        supplémentaires sur 2013.
      </p>
      <p>
        Fin 2012, EDVO a reçu deux importants soutiens ; celui de Françoise De
        Gail, membre adhérente à notre association, généreuse donatrice de 10
        000 euros et celui de la Fondation des Lions Club de France qui héberge
        désormais EDVO comme association membre pour recevoir des dons et legs.
      </p>
    </div>
  </div>
  <div class="card ms-3 my-4 position-relative">
    <div class="info p-3">
      <h3 class="title">5. La naissance de l’EDVO</h3>
      <p>
        Depuis 2011, nous avons développé notre partenariat en direction des
        entreprises et des collectivités territoriales pour offrir nos
        prestations et notre savoir faire en prévention sous la forme d’un «
        Mécénat de Sécurité ». Cette proposition de service dans le monde du
        travail, correspond à l’un des objectifs du Plan Interministériel de la
        MILDT, notamment dans la partie ciblant le domaine des addictions et de
        la sécurité dans le milieu professionnel. Nous travaillons sur la
        prévention, la sécurité et la formation d’acteurs relais et apportons
        notre savoir faire au sein de l’entreprise, en vue de réduire les
        conséquences directes liées à l’usage des produits psycho-actifs dans le
        milieu du travail
      </p>
      <p>
        Nous remplissons actuellement une mission d’intérêt général, en
        accueillant des sortant de cures SDF, venant de toutes régions,
        choisissant notre structure pour sa spécificité. Ces personnes étaient
        initialement très marginalisées et très « abimées » physiquement et
        psychologiquement.
      </p>
      <p>
        EDVO a fait le choix de suivre essentiellement les sortants de cures,
        dans la continuité de centres de soins pratiquant une thérapie Modèle
        Minnesota 1 ; thérapie reconnue pour son efficacité à travers le Monde.
        Ce modèle de prise en charge spécifique est majoritaire dans les Pays
        Anglos saxons et s’implante de plus en plus en Europe en dehors de la
        France.
      </p>
      <p>
        Notre type de prise en charge correspond à près d’un tiers des demandes
        des malades dépendants qui souhaitent se séparer de tous produits de
        substitution entre autre, et maintenir leur choix d’abstinence de tous
        produits modifiant le comportement.
      </p>
    </div>
  </div>
</div>
