<app-hero></app-hero>
<div class="container-fluid">
  <h3 class="border-secondary-subtle border-5 rounded d-inline-flex">
    Association Nationale EDVO
  </h3>
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
      <span class="text-secondary fs-1">E</span>couter, prévenir, soutenir,
      aider, faire réagir
    </li>
    <li class="list-group-item">
      <span class="text-secondary fs-1">D</span>évelopper ses capacités à
      redevenir autonome et abstinent de produits psychotropes
    </li>
    <li class="list-group-item">
      <span class="text-secondary fs-1">V</span>ivre libre sans drogues
    </li>
    <li class="list-group-item">
      <span class="text-secondary fs-1">O</span>rienter toute personne en
      difficulté
    </li>
  </ul>
  <div class="border border-secondary-subtle border-5 p-3 rounded-bottom">
    <p>
      Fondée en 1987 par son président Jean Paul Bruneau, l’association Espoir
      Du Val d’Oise, devenue EDVO, est un organisme associatif à but non
      lucratif œuvrant pour l’accueil, l’accompagnement (notamment par le
      soutien psychologique et l’hébergement), la réinsertion sociale et
      professionnelle des personnes en grande difficulté ou concernées par
      l’addiction à des produits psychotropes modifiant le comportement. Avec
      ses professionnels et ses bénévoles formés.
    </p>
    <p>
      L’Association EDVO accueille et accompagne toute victime d’addiction
      (alcool-drogues-jeux-etc…), volontaire pour un changement de comportement.
      Elle assure un suivi ambulatoire pour accompagner vers les soins les
      malades dépendants et héberge les sortants de cure ou postcure sur ses 35
      places au 4 rue Gallieni à Montmagny 95360 ; aussi, depuis janvier 2017,
      elle accompagne 37 personnes en grandes difficultés en Maison Relais au 3
      rue Gallieni à Montmagny ainsi que 10 personnes en réinsertion sociale et
      professionnelle sur ses appartements thérapeutiques à Paris et sur le Val
      d’Oise.
    </p>
    <p>
      L’association EDVO partage son savoir faire avec tous professionnels ou
      structures souhaitant échanger ou travailler en réseau dans l’intérêt des
      usagers. Elle offre un espace d’écoute et d’orientation pour toutes
      familles confrontées au problème d’addiction.
    </p>
    <p>
      Elle intervient en prévention, par conférence débat, avec témoignages d’ex
      malades dépendants, dans le milieu scolaire, auprès des parents d’élèves,
      dans les structures accueillant des jeunes, dans les entreprises, etc.…
    </p>
    <p>
      Elle forme des acteurs relais, participe à tous colloques sur demande et
      s’implique dans les travaux des différends réseaux locaux et nationaux.
      Elle initie et gère des épiceries sociales au profit des publics les plus
      démunis avec le concours des CCAS* locaux, de la BAPIF*, d’ANDES*, et des
      magasins donateurs de produits alimentaires.
    </p>
  </div>
</div>
