<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Faire un leg
</h3>
<div class="border border-1 p-5">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Votre nom (obligatoire)</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Votre adresse de messagerie (obligatoire)</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Type de leg (obligatoire)</label
    >
    <div class="container">
      <div>
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Ameublement
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Electromenager
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Arts de table
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Décoration
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Linge de maison
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Bricolage
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Jardinage
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkIndeterminate"
              />
              <label class="form-check-label" for="checkIndeterminate">
                Vêtements
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIndeterminate"
            />
            <label class="form-check-label" for="checkIndeterminate">
              Chaussures
            </label>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIndeterminate"
            />
            <label class="form-check-label" for="checkIndeterminate">
              Accessoires & bagagerie
            </label>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIndeterminate"
            />
            <label class="form-check-label" for="checkIndeterminate">
              Equipement bébé
            </label>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIndeterminate"
            />
            <label class="form-check-label" for="checkIndeterminate">
              Vêtements bébé
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIndeterminate"
            />
            <label class="form-check-label" for="checkIndeterminate">
              Argent
            </label>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIndeterminate"
            />
            <label class="form-check-label" for="checkIndeterminate">
              Autre
            </label>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label"
      >Photo(s) du leg (facultatif)</label
    >
    <input class="form-control" type="file" id="formFileMultiple" multiple />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Votre message (obligatoire)</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Merci de préciser la nature exacte et la quantité de votre leg"
    ></textarea>
  </div>
  <button type="button" class="btn btn-primary">Envoyer</button>
</div>
