<form
  class="border border-1 p-5"
  [formGroup]="legForm"
  (ngSubmit)="handleSubmit()"
>
  <div class="mb-3">
    <label class="form-label">Votre nom (obligatoire)</label>
    <input
      type="email"
      class="form-control"
      placeholder="votre nom"
      formControlName="nom"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Votre adresse de messagerie (obligatoire)</label>
    <input
      type="email"
      class="form-control"
      placeholder="email"
      formControlName="email"
    />
  </div>
  <div class="container mb-3">
    <label class="form-label">Type de leg (obligatoire)</label>
    <div class="row row-cols-1 row-cols-lg-4 g-2">
      @for(option of options; track option.id){
      <div class="col">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="option.value"
            (change)="handleCheckboxChange($event, option.id)"
          />
          <label class="form-check-label"> {{ option.label }} </label>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="mb-3">
    <label for="formFileMultiple" class="form-label"
      >Photo(s) du leg (facultatif)</label
    >
    <input
      id="photos"
      type="file"
      class="form-control"
      (change)="handleFileInput($event)"
      multiple
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Votre message (obligatoire)</label>
    <textarea
      class="form-control"
      rows="3"
      placeholder="Decrivez ici votre leg avec le plus de précisions possible"
      formControlName="message"
    ></textarea>
    <div id="passwordHelpBlock" class="form-text">
      (Merci de préciser la nature exacte et la quantité de votre leg)
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!legForm.valid">
    Envoyer
  </button>
</form>
