<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Nos Financements
</h3>
<p>
  Pour ses 26 places d’hébergement agrées ALT réservés aux sortants de cure avec
  sa spécificité d’accompagnement pour le rétablissement et la réinsertion
  sociale des victimes d’addictions.EDVO ne perçoit aucune subvention sur le
  budget d’État Santé ou Addictologie.
</p>
<p class="fw-bold">
  Son coût de journée 2014 par jour et par pensionnaire est de 27,47 Euros et
  son financement est le suivant :
</p>
<p class="d-inline-flex gap-1">
  <a
    class="btn btn-primary"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Par jour et par personne <i class="bi bi-plus"></i>
  </a>
</p>
<div class="collapse" id="collapseExample">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-md-between">
      ALT Etat <span class="badge text-bg-primary rounded-pill">5.44€</span>
    </li>
    <li class="list-group-item d-flex justify-content-md-between">
      ALT Conseil Général
      <span class="badge text-bg-primary rounded-pill">2.72€</span>
    </li>
    <li class="list-group-item d-flex justify-content-md-between">
      Participation pensionnaire
      <span class="badge text-bg-primary rounded-pill">7.89€</span>
    </li>
    <li class="list-group-item d-flex justify-content-md-between">
      CNASEA (aide d’Etat pour les salariés d’EDVO en CAE)
      <span class="badge text-bg-primary rounded-pill">1.89€</span>
    </li>
    <li class="list-group-item d-flex justify-content-md-between">
      Autofinancement EDVO (dons et soutiens des Lions et Rotary Club)
      <span class="badge text-bg-primary rounded-pill">3.42€</span>
    </li>
    <li class="list-group-item d-flex justify-content-md-between">
      Total<span class="badge text-bg-primary rounded-pill">27.47€</span>
    </li>
  </ul>
</div>
<p>
  De plus, dans le cadre de son activité, l’association EDVO bénéficie du
  partenariat de diverses instances
</p>
<div class="d-flex flex-wrap justify-content-center align-items-center w-100">
  <img
    [src]="logoInstitutJustice"
    alt="logo-institut-justice"
    width="300"
    height="100"
    class="p-3"
  />
  <img
    [src]="logoCaisseDepot"
    alt="logo-caisse-depot"
    width="150"
    height="150"
    class="p-3"
  />
  <img
    [src]="logoLion"
    alt="logo-ile-de-france"
    class="p-3"
    width="150"
    height="150"
  />
  <img
    [src]="logoTerrePlurielle"
    alt="logo-terre-plurielle"
    width="350"
    height="200"
    class="p-3"
  />
  <img
    [src]="logoIleDeFrance"
    alt="logo-ile-de-france"
    width="350"
    height="100"
    class="p-3"
  />
  <img [src]="logoFondationLoreal" alt="logo-fondation-loreal" class="p-3" />
  <img [src]="logoMma" alt="logo-mma" width="250" height="100" class="p-3" />
  <img [src]="logoAurore" alt="logo-aurore" width="330" height="200" />
  <img
    [src]="logoFondationAbbePierre"
    alt="logo-fondation-abbe-pierre"
    class="p-3"
    width="180"
    height="200"
  />
  <img
    [src]="logoPrefectureValDoise"
    alt="logo-prefecture-val-doise"
    class="p-3"
    width="250"
    height="200"
  />
</div>
