<p>
  Cette formation permet de mieux appréhender les effets des molécules
  psychoactives ou des addictions sans produits et les comportements modifiés
  qui en découlent. Elle contient également des outils pédagogiques, des jeux de
  rôles, des mises en situation et un rappel des connaissances sur les
  modifications du comportement repérables afin de fournir à vos acteurs relais
  tous les outils nécessaires dans leur mission de prévention.
</p>
<p>
  Objectifs complémentaires : savoir écouter, aider et orienter le collègue en
  difficulté. EDVO remet à l’ensemble des stagiaires des attestations de
  formation ainsi qu’un cd-rom contenant l’ensemble des travaux et des adresses
  utiles.
</p>
<p class="fw-bold"><i class="bi bi-clock"></i> Durée:</p>
<p>
  2 jours + 1 jour de mise en situation avec participation de 2 à 3 résidents en
  rétablissement à EDVO assistés de notre thérapeute référant dans ce champ
  d’intervention.
</p>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Prestation I.
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p class="fw-bold">L’accompagnement des « acteurs relais »</p>
        <p>
          EDVO propose d’apporter son soutien, son expertise et ses conseils
          lors des réunions du groupe des acteurs relais, afin d’améliorer leur
          savoir faire.
        </p>
        <p>
          <span class="fw-bold">Fréquence :</span> 1 fois par trimestre (2
          heures)
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Prestation II.
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p>
          Le suivi et l’accompagnement individualisé de l’un de vos salariés.
          Organisé sous la forme d’entretien téléphonique, de rendez-vous dans
          notre structure ou dans l’entreprise, pour toute personne concernée
          par une addiction.
        </p>
        <p>
          Notre objectif commun : permettre à chaque bénéficiaire d’identifier
          son besoin d’aide et l’accompagner dans ses démarches pour accéder aux
          soins appropriés. Votre salarié bénéficiera du savoir faire d’EDVO
          qui, depuis plus de vingt-cinq ans, fonctionne avec un solide réseau
          de partenaires, permettant ainsi à l’intéressé de retrouver la
          meilleure aptitude pour son retour dans son cadre de travail.
        </p>
        <p>
          Notre accompagnement pour le sevrage en milieu hospitalier, les 8
          semaines de soins de consolidation chez l’un de nos partenaires et les
          6 mois de suivi renouvelables avec hébergement à EDVO en postcure
          réinsertion, ne sont pas à la charge de l’employeur.
        </p>
        <p>
          Ces temps sont gérés par EDVO avec le patient en arrêt maladie
          (généralement, la reprise du travail est progressive, à mi-temps si
          possible sur avis médical à partir du 5ème mois).
        </p>
        <p>
          De préférence, le suivi ambulatoire (individualisé), préparatoire au
          sevrage (sur 2 mois) et l’accompagnement dans le retour à l’emploi ;
          sont deux étapes gérées avec l’employeur:
        </p>
        <p>
          <span class="fw-bold"><i class="bi bi-clock"></i> Durée :</span> 40
          heures
        </p>
      </div>
    </div>
  </div>
</div>
