<section
  class="container mb-3 bg-our-actions h-75 d-flex justify-content-center align-items-center"
>
  <h2 class="d-inline-flex text-light">Nos actions</h2>
</section>
<app-hospital></app-hospital>
<app-house></app-house>
<section class="container">
  <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
    Epicerie sociales
  </h3>
  <p>
    Pour les plus démunis, avec le soutien du conseil départemental de Seine
    Saint-Denis, avec le soutien du plan pauvreté de l’Etat, d’ANDES, de la
    BAPIF et de la Mairie d’Epinay s/Seine, nous avons ouvert des épiceries
    sociales qui aident les familles les plus en difficulté; EDVO met en service
    une épicerie sociale mobile pour compléter son dispositif d’aide
    alimentaire.
  </p>
  <p>
    EDVO dispose dans cette structure d’un point hygiène permettant l’accès aux
    plus démunis à des sanitaires (douches/toilettes) ainsi qu’à des machines à
    laver afin de leur permettre de préserver leur hygiène.
  </p>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/hotel/EDVO-Chambre.jpg"
          class="d-block w-100"
          alt="EDVO-Chambre"
        />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="container">
  <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
    Appartements thérapetiques
  </h3>
  <p>Page en cours de développement</p>
</section>
<section class="container">
  <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
    Groupe d'entraide famille
  </h3>
  <p class="fw-bold">La démarche</p>
  <p class="fw-bold">Le fonctionnement</p>

  <p class="fw-bold">Les objectifs</p>
  <p>
    Nous sommes des parents, nous avons vécu le problème de la toxicomanie ou
    des autres addictions et nous voulons vous aider dans le respect de
    l’anonymat et de la confidentialité.
  </p>
</section>
