<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex mb-3">
  Groupe de parole de personnes concernées par une addiction
</h3>
<p class="fst-italic">
  Parents ne restez pas seuls, venez nous en parler, nous pouvons vous aider.
</p>
<h4>La démarche</h4>
<p>
  Nous sommes des parents, nous avons vécu le problème de la toxicomanie ou des
  autres addictions et nous voulons vous aider dans le respect de l’anonymat et
  de la confidentialité.
</p>
<h4>Le fonctionnement</h4>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    ecoute téléphonique (du lundi au vendredi de 9h à 17h)
  </li>
  <li class="list-group-item list-group-item-secondary">
    permanences du lundi au vendredi
  </li>
  <li class="list-group-item list-group-item-secondary">
    groupes de paroles tous les quinze jours (le mercredi à 20h)
  </li>
</ul>
<h4>Les objectifs</h4>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    permettre aux proches de comprendre la dépendance ou toute autre addiction
  </li>
  <li class="list-group-item list-group-item-secondary">
    partager vos difficultés et trouver dans l’écoute et l’entraide les moyens
    du changement souhaité
  </li>
</ul>

<ul class="list-group mb-3">
  <li class="list-group-item">
    <span class="fw-bold">Lieu de réunion :</span> 4 Rue Gallieni à Montmagny
    (95360)
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Permanence au siège EDVO :</span> du Lundi au
    vendredi, de 9h à 17h
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Contact téléphonique :</span>
    <a href="tel:+ 01 34 28 64 50"></a> 01 34 28 64 50
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Contenue téléchargeable : </span>
    <a
      href="pdf/fiche-orientation-dossier-admission-maison-relais.pdf"
      target="_blank"
      ><i class="bi bi-file-earmark-pdf text-danger"></i> Fichier complet (à
      télécharger)</a
    >
  </li>
</ul>
