<section class="container mb-3 bg-prevention-and-training h-75 d-flex justify-content-center align-items-center">
    <h2 class="d-inline-flex text-light">Préventions & Formations</h2>
</section>
<section class="container">
    <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">Scolaires</h3>
</section>
<section class="container">
    <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">Parents</h3>
</section>
<section class="container">
    <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">Entreprises</h3>
</section>
<section class="container">
    <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">Formations acteurs-relais</h3>
</section>
