<section class="container mb-3">
  <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
    A la une!
  </h3>
</section>
<app-search-bar></app-search-bar>
<app-articles></app-articles>
<section>
  <div class="d-flex d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</section>
