<p>
  Jean-Paul BRUNEAU, Président fondateur de l’Association Nationale EDVO depuis
  1987, ex-policier spécialiste dans le domaine des stupéfiants et ex-formateur
  anti-drogue de la Police Nationale, insiste sur l’éducation première, donnée
  par les parents. Il souligne, combien la seule recherche du plaisir immédiat
  dans l’enfance peut induire plus tard une psychologie toxicomaniaque. « La
  plus forte dépendance des produits psychoactifs, est liée au plaisir ou
  soulagement immédiat et sans effort qu’ils procurent. Si les parents aident
  leur enfant à se construire de l’intérieur, à grandir avec ses émotions pour
  apprendre à les gérer en terme de plaisir, à découvrir des centres d’intérêt
  qui donnent du sens à sa vie, ils le rendent fort contre les sollicitations. »
</p>
<p class="fw-bold">
  Et lorsque eux-mêmes donnent l’exemple d’une dépendance, comme celle du tabac
  ?
</p>
<p>
  « Quand le parent reconnaît ses faiblesses et permet à son enfant de
  reconnaître les siennes, il devient possible d’en parler. Le déni engendre
  chez l’adolescent le même fonctionnement et coupe toute communication sur ce
  problème. L’honnêteté et l’expression des émotions, qui sont les bases de la
  rééducation des ex-toxicomanes dans notre association, sont fondamentales dans
  la relation parents-enfants. L’écoute et le dialogue sont à la base de tout.
  Pour moi, l’essentiel est d’arriver à développer le sens critique de l’enfant
  puis de l’adolescent. Sinon, il passe à l’acte sans trop savoir pourquoi, par
  curiosité ou pour faire comme les autres. »
</p>
<p class="fw-bold">Et lorsqu’il a essayé l’un ou l’autre produit ?</p>
<p>
  « La recherche de tout adolescent passe par l’expérimentation. C’est une façon
  de grandir. Il cherche aussi chez ses parents les limites qu’il n’a pas su se
  fixer ».
</p>
<p class="fw-bold">
  Si son comportement laisse penser de façon évidente qu’il use de produits, que
  faire ?
</p>
<p>
  « L’écouter, lui permettre d’exprimer ce qu’il vit sans juger et chercher à
  savoir ce qu’il demande au produit. L’aider à trouver les bonnes pistes pour
  sortir de son état ou l’amener à réfléchir sur les conséquences de sa conduite
  à risque. Le groupe souvent constitué d’adolescents qui ont les mêmes
  problèmes, a plus d’influence que le parent. La prévention, c’est aussi
  l’entraide entre parents, en lien avec le groupe, et celle-ci n’est pas assez
  développée[1].»
</p>
<p class="fst-italic">
  [1] (JP.Bruneau reçoit beaucoup d’adolescents et de parents dans ce contexte à
  EDVO). Selon l’INSERM (en 2003) prés de 60 % de l’argent de poche des 17/18
  ans passe dans leur consommation d’alcool, de tabac et de cannabis
</p>
<p>
  Plus de la moitié des 14 à 25 ans admettent consommer occasionnellement du
  cannabis et 1/3 en consomment au moins 10 fois par mois. Cette drogue n’est
  pas si douce que ça puisqu’elle entraîne échec scolaire, démotivation, «
  j’m’en foutisme » et bien d’autres perturbations à ce moment précieux de la
  vie. La banalisation, l’effet mode ou socio-culturel favorisant
  l’expérimentation et le rajeunissement des usagers, nous amène à constater une
  progression des polyconsommations chez des adolescents.
</p>
<p>
  Dès qu’il y a usage régulier de cannabis, pour 1/10, la même personne prendra
  de l’ecstasy ou de la cocaïne pour avoir la « pêche », de l’héroïne ou du
  subutex (substitution pour héroïnomane) pour calmer l’angoisse liée à la «
  descente » et fume du cannabis pour fuir son mal être entre temps, sans parler
  de l’alcool et du pillage de la pharmacie familiale. « Si certains semblent
  céder au pessimisme, à EDVO nous faisons partie de ceux qui s’opposent à
  toutes formes de laisser-aller en matière de consommation de stupéfiants. Nous
  prouvons, dans toutes nos conférences et formations, qu’il fait bon vivre sans
  drogue. Nos actions ont aussi pour objectif de rendre le jeune, acteur de
  prévention dans son environnement.
</p>
<p class="fw-bold">Demander de l’aide</p>
<p>
  Jean-Paul BRUNEAU accueille et suit des toxicomanes, héberge des sortants de
  cure ex-toxicomanes en vue de leur réinsertion, mène également des actions de
  prévention dans le milieu scolaire avec témoignages de ses pensionnaires.
  Partant de son expérience, il estime que les parents ne sont pas forcément les
  mieux placés pour aider un jeune qui a plongé : « Ils doivent essayer par le
  dialogue d’en savoir plus, pour cerner avec leur enfant ce qui pose problème
  dans sa vie. Pour débloquer la situation, il sera nécessaire de faire appel à
  des personnes extérieures en qui le jeune a confiance ou à un spécialiste.
  Trop souvent, les parents s’isolent et culpabilisent au lieu d’oser demander
  de l’aide le plus tôt possible. Il existe toujours quelqu’un dont le
  savoir-faire ou l’expérience peut servir à l’autre. Personne ne peut sortir
  quelqu’un de la drogue malgré lui, mais on peut lui dire : « Tu viendras m’en
  parler quand tu auras envie[2]… »
</p>
<p class="fst-italic">
  [2] (EDVO reçoit, conseille et peut aider utilement dans ce domaine toute
  personne en difficulté).
</p>
<p class="fw-bold">La codépendance</p>
<ol class="list-group list-group-numbered mb-3">
  <a
    (click)="scrollToSection('mal-etre')"
    class="list-group-item list-group-item-action"
  >
    Mal-être qui s’installe dans le lien affectif avec une personne malade
    dépendante</a
  >
  <a
    (click)="scrollToSection('points')"
    class="list-group-item list-group-item-action"
  >
    Points de ressemblance avec la dépendance</a
  >

  <a
    (click)="scrollToSection('questions')"
    class="list-group-item list-group-item-action"
    >Questions</a
  >
  <a
    (click)="scrollToSection('vivre')"
    class="list-group-item list-group-item-action"
  >
    « Vivre et laisser vivre »</a
  >
  <a
    (click)="scrollToSection('enfant')"
    class="list-group-item list-group-item-action"
  >
    Votre enfant vous inquiète</a
  >
</ol>

<div id="mal-etre">
  <h4>
    Mal-être qui s’installe dans le lien affectif avec une personne malade
    dépendante.
  </h4>
  <p>
    La codépendance (ou dépendance relationnelle) est un ensemble de
    comportements inadéquats d’un proche à l’égard d’une personne dépendante
    avec laquelle il est impliqué dans une relation. Il se fait alors une
    obsession de contrôler le comportement de la personne dépendante malgré les
    conséquences (émotionnelles, physiques, matérielles…) que cela peut
    engendrer pour lui et/ou pour l’autre et/ou pour le restant de la famille.
  </p>
  <p>
    La codépendance est caractérisée par le déni (refus inconscient de se rendre
    compte de la réalité du problème) qui empêche de chercher de l’aide.
  </p>
</div>
<div id="points">
  <h4>Points de ressemblance avec la dépendance</h4>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-secondary">
      <span class="fw-bold">Obsession :</span> être incapable d’écarter de ses
      pensées la personne dépendante quelques soient ses activités ; besoin de
      contrôle de l’autre pour échapper aux angoisses générées par les absences
      ou fuites…
    </li>
    <li class="list-group-item list-group-item-secondary">
      <span class="fw-bold">Compulsion :</span> être incapable de s’empêcher
      d’intervenir pour régler, voire même anticiper, les problèmes que
      pourraient subir le dépendant et se faire ainsi manipuler par le
      dépendant.
    </li>
    <li class="list-group-item list-group-item-secondary">
      <span class="fw-bold">Progressive :</span> elle s’installe petit à petit
      et fait accepter malgré soi des actes qui vont de plus en plus loin.
    </li>
    <li class="list-group-item list-group-item-secondary">
      <span class="fw-bold">Le déni :</span> perdre tout discernement et ne pas
      admettre cet état de fait ; devenir hermétique à tous conseils ou
      critiques.
    </li>
    <li class="list-group-item list-group-item-secondary">
      <span class="fw-bold">Responsabilité excessive :</span> se sentir de plus
      en plus responsable de la vie de l’autre en s’oubliant.
    </li>
    <li class="list-group-item list-group-item-secondary">
      <span class="fw-bold">Le contrôle :</span>tenter de contrôler
      l’environnement du dépendant alors que le dépendant lutte pour protéger sa
      consommation.
    </li>
  </ul>
</div>
<div id="questions">
  <h4>Questions</h4>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-secondary">
      Ai-je des comportements codépendants ?
    </li>
    <li class="list-group-item list-group-item-secondary">
      Mes tentatives de sauver et contrôler l’autre ont-elles fonctionné ?
    </li>
    <li class="list-group-item list-group-item-secondary">
      Que puis-je faire de différent ?
    </li>
  </ul>
  <p class="fw-bold">
    Si vous ressentez de la culpabilité quand votre proche a un problème, <br />
    Si vous vous sentez obligé, voire presque contraint, d’aider l’autre, <br />
    Si vous dites oui quand vous voulez dire non et prenez en charge des tâches
    qui appartiennent à l’autre, <br />
    Si vous ne respectez pas vos limites, <br />
    Des groupes de parole sont organisés pour vous aider.
  </p>
</div>
<div id="vivre">
  <h4>« Vivre et laisser vivre »</h4>
  <p class="fw-bold">
    Si vous pensez que votre enfant se drogue… boit trop d’alcool…
  </p>
  <p>
    Nous vous proposons de participer à un
    <a href="/groupe-entraide-famille">« groupe de parole »</a> qui réunit des
    parents confrontés à la consommation de drogue ou d’alcool de leurs enfants.
  </p>
</div>
<div id="enfant">
  <h4>Votre enfant vous inquiète</h4>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-secondary">il a changé</li>
    <li class="list-group-item list-group-item-secondary">
      il s’emporte facilement
    </li>
    <li class="list-group-item list-group-item-secondary">
      parfois, il devient agressif
    </li>
    <li class="list-group-item list-group-item-secondary">
      il ne travaille plus
    </li>
    <li class="list-group-item list-group-item-secondary">
      il parait nerveux, insaisissable, en souffrance…
    </li>
    <li class="list-group-item list-group-item-secondary">
      vous ne savez plus comment lui parler
    </li>
    <li class="list-group-item list-group-item-secondary">
      vous ne le comprenez plus
    </li>
    <li class="list-group-item list-group-item-secondary">
      peut-être n’avez-vous plus vraiment confiance en lui
    </li>
    <li class="list-group-item list-group-item-secondary">
      vous ne savez pas comment l’aider
    </li>
  </ul>
  <p class="fw-bold">
    Ce
    <a href="/groupe-entraide-famille">« Groupe Parents »</a>
    vous propose un espace pour partager les difficultés que vous rencontrez
    dans vos relations avec votre enfant.
  </p>
  <p class="fw-bold">
    Avec d’autres parents, vous pourrez mieux comprendre, mieux faire face,
    vivre différemment, penser autrement… ce qui se passe entre votre enfant et
    vous.
  </p>
</div>
