<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Faire une don / Devenir adhérent
</h3>
<div>
  <p>
    Vous pouvez faire un don ou adhérer en remplissant l’un de ces formulaires
    et nous le renvoyant par courriel (secretariat&#64;edvo.fr) ou par voie
    postale (4 rue Gallieni – 95360 MONTMAGNY)
  </p>
  <ul class="list-group my-3">
    <a
      href="pdf/Bulletin-adhesion-2024.pdf"
      class="list-group-item list-group-item-action"
    >
      <i class="bi bi-file-earmark-pdf text-danger"></i> Bulletin adhésion 2024
    </a>

    <a
      href="pdf/Bulletin-de-membre-bienfaiteur-2024.pdf"
      class="list-group-item list-group-item-action"
    >
      <i class="bi bi-file-earmark-pdf text-danger"></i> Bulletin de membre
      bienfaiteur 2024
    </a>
    <a
      href="pdf/Bulletin-don-manuel-pour-le-fonctionnement-dEDVO-2024.pdf"
      class="list-group-item list-group-item-action"
    >
      <i class="bi bi-file-earmark-pdf text-danger"></i> Bulletin don manuel
      pour le fonctionnement EDVO 2024
    </a>
    <a
      href="pdf/Statuts-29-juin-2022.pdf"
      class="list-group-item list-group-item-action"
    >
      <i class="bi bi-file-earmark-pdf text-danger"></i> Statuts Association
      Nationale EDVO
    </a>
  </ul>

  <div class="d-flex justify-content-center align-items-center">
    <a
      class="d-flex justify-content-center align-items-center"
      target="_blank"
      href="https://www.helloasso.com/associations/association-nationale-edvo/adhesions/adhesion-2024"
    >
      <img
        class="bg-light rounded-start p-1 shadow"
        src="https://www.helloasso.com/forms/img/logo-helloasso-badge.2cbe7cf.svg"
        width="50"
        height="56"
        alt="Logo HelloAsso"
        loading="lazy"
      />
      <span class="bg-primary text-light rounded-end h-25 p-3">Adhérer</span>
    </a>
  </div>
</div>
