<div>
  <h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
    Faire une don / Devenir adhérent
  </h3>
  <div>
    <p>
      Vous pouvez faire un don ou adhérer en remplissant l’un de ces formulaires
      et nous le renvoyant par courriel (secretariat&#64;edvo.fr) ou par voie
      postale (4 rue Gallieni – 95360 MONTMAGNY)
    </p>
    <button type="button" class="btn btn-primary">Télécharger</button>
  </div>
</div>
<img src="EDVO-Chambre.jpg" class="w-50 h-50" alt="" />
