<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
  Devenir mécène de compétences
</h3>
<p class="fw-bold">SOUTENIR EDVO PAR DES MISSIONS DE MECENAT DE COMPETENCES</p>
<p>
  Pour notre association, le mécénat de compétences, ou la mission pro bono, est
  un partenariat précieux qui nous permet de professionnaliser nos pratiques
  internes, et ainsi d’améliorer notre action dédiée aux personnes souffrant
  d’addiction.
</p>
<p>MECENAT DE COMPETENCES, MISSION PRO BONO : UN ENGAGEMENT SOLIDAIRE</p>
<p>
  Le mécénat de compétences consiste, pour un salarié, à mettre ses compétences
  au service d’une association sur son temps de travail. Aujourd’hui en France,
  24 000 entreprises pratiquent déjà le mécénat de compétences.
</p>
<p>Nos besoins en compétences ?</p>
<p>
  Actuellement,
  <span class="fw-bold"
    >EDVO recrute son responsable de la communication et des partenariats</span
  >. Découvrez ici la fiche de poste détaillée.
</p>
<p class="fw-bold">La procédure est simple :</p>
<ul class="list-group">
  <li class="list-group-item list-group-item-secondary">
    1 rencontre pour définir la mission, son rythme et son cadre
  </li>
  <li class="list-group-item list-group-item-secondary">
    1 convention de mécénat pour fixer le partenariat
  </li>
  <li class="list-group-item list-group-item-secondary">
    1 bilan de fin de mission et 1 reçu fiscal
  </li>
</ul>
