<h3 class="border-bottom border-secondary-subtle border-5 d-inline-flex mb-3">
  Prévention dans les entreprises
</h3>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">Notre objectif </span><br />Vous permettre de réduire
    efficacement au sein de votre entreprise les conséquences de l’alcoolisme ou
    de l’usage de tous les produits modifiant le comportement, et répondre aussi
    aux obligations légales du dirigeant.
  </li>
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">La santé et la sécurité de vos salariés:</span>
    <br />Le bon fonctionnement, la compétitivité et l’image de votre entreprise
    en dépendent.
  </li>
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">La législation: </span><br />Très stricte en la
    matière engage votre responsabilité, notamment dans le cadre de la sécurité
    avant, pendant et hors du temps de travail.
  </li>
</ul>
<p>
  <span class="fw-bold">EDVO</span> vous donne les moyens d’aider vos salariés
  en dispensant des séances de prévention adaptées et en formant des acteurs
  relais de proximité ; nous pouvons vous apporter des solutions efficaces et
  durables pour que vos salariés concernés par une addiction puissent se
  reconstruire et retrouver leur poste de travail.
</p>
<h4>
  EDVO s’appuie sur sa longue expérience dans ces domaines pour vous apporter
  des prestations de qualité en vous proposant :
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">Un audit</span>
    auprès des acteurs intéressés de vos services et un programme
    d’interventions adaptées et personnalisées
  </li>
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">Des interventions ponctuelles et pédagogiques</span>
    de sensibilisation sur l’usage des produits modifiants le comportement
    (information sur les risques d’accidents en lien avec l’effet des produits
    psychoactifs, l’incidence sur la santé et l’activité professionnelle).
    Seront également abordés les aspects juridiques, sociétaux, familiaux avec
    toutes leurs conséquences et les possibilités de changements accompagnés.
  </li>
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">Un suivi individualisé</span> dans nos structures ou
    dans l’entreprise, pour toute personne concernée par une addiction. Le but
    est de permettre à chaque bénéficiaire, d’identifier son besoin d’aide mais
    aussi de lui donner la possibilité d’accéder plus facilement aux soins
    spécifiques, avec notre accompagnement, jusqu’à son retour dans son cadre de
    travail.
  </li>
  <li class="list-group-item list-group-item-secondary">
    <span class="fw-bold">L’animation d’un groupe de parole</span> sur le sujet
    évoqué, porteur d’une dynamique dans l’entreprise pour les changements de
    comportement escomptés
  </li>
</ul>
<p>
  <span class="fw-bold">Notre intervention sur la sécurité</span>
  peut répondre aux besoins que vous aurez identifiés et notamment pour la
  rédaction de votre règlement intérieur. A vos côtés EDVO est une structure qui
  peut adapter ses interventions à vos disponibilités pour une meilleure
  prévention dans votre entreprise,et nous nous tenons à votre disposition pour
  convenir ensemble d’un premier rendez-vous. Vous pouvez utiliser votre budget
  formation pour nos interventions auprès de vos salariés où nos prestations
  peuvent être financées sous forme de «MECENAT» qui vous permettra de déduire
  60% des montants investis de votre impôt société dans la limite de 5‰ de votre
  chiffre d’affaire HT.
</p>
<p class="fw-bold">EDVO avec VOUS:</p>
<p class="fw-bold">
  « Réussir Ensemble pour la sécurité dans votre entreprise ou dans votre
  collectivité »
</p>
<p class="fst-italic">S’appuyant sur sa longue expérience, EDVO vous propose</p>
<div class="accordion mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Prestation I.
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p class="fw-bold">
          Un état des lieux réalisé auprès d’un panel de salariés de votre choix
          dans l’entreprise ou service
        </p>
        <p>
          Sous la forme d’entretiens individuels et anonymes, guidés par un
          questionnaire spécifique, ces entretiens feront l’objet d’une synthèse
          remise à la direction ou au chef de service. Elle a pour but de mettre
          en évidence la notion du risque face à des consommations de produits
          psycho actifs avant, pendant, après l’activité professionnelle.
        </p>
        <p>
          L’objectif étant d’apporter un éclairage nouveau sur la réduction du
          risque en accidentologie et sur ses conséquences, sur le risque de
          perte de performance ou de capacité dans l’emploi occupé, sur le
          risque d’addiction avec son incidence environnementale (pour ses
          collègues, pour sa carrière, pour sa famille, pour l’image de
          l’entreprise).
        </p>
        <p>
          Tenant compte du règlement intérieur et des initiatives consignées
          dans le document unique, nous serons en capacité d’apporter les
          suggestions
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Prestation II.
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p class="fw-bold">
          Une phase de sensibilisation sur les risques liés à l’usage des
          produits psycho actifs en milieu professionnel
        </p>
        <p>
          Sous la forme de conférence-débat, animée par nos soins dans vos
          locaux et qui aborde des sujets tels que : les troubles du
          comportement repérables, le risque d’addiction, la sécurité, la
          législation, la responsabilité de chacun, les dommages collatéraux, le
          refus de la fatalité… Le témoignage de deux ex-victimes d’addiction
          (en rétablissement dans notre structure) apportera également dans
          cette intervention, un éclairage sans complaisance sur l’usage des
          produits psychotropes et les conséquences dans le cadre d’une activité
          professionnelle.
        </p>
        <p>
          Ces conférences permettent également, si besoin, de recenser les
          volontaires pour la formation d’acteur relais.
        </p>
        <p>
          Notre expérience en la matière nous conduit à suggérer que cette phase
          de sensibilisation soit rendue obligatoire pour tous.
        </p>
        <p>
          <span class="fw-bold"><i class="bi bi-clock"></i> Durée:</span> 3
          heures
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        Prestation III.
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p class="fw-bold">
          Une conférence-débat pour les salariés et leurs proches
        </p>
        <p>
          Conférence d’information préventive et de développement du sens
          critique ou responsabilisation face aux conduites à risques sous
          l’effet des psychotropes, avec débat et suggestions à caractère
          éducatif, préventif ou curatif.
        </p>
        <p>
          Conférence animée par nos soins et accompagnée de témoignages sur les
          conséquences de l’addiction ou des consommations abusives de produits
          psycho actifs.
        </p>
        <p>
          <span class="fw-bold"><i class="bi bi-clock"></i> Durée:</span> 2
          heures à 2h30
        </p>
      </div>
    </div>
  </div>
</div>
<h4>Les intervenants</h4>
<div class="p-3 border-start border-secondary border-5">
  <p class="fw-bold">Jean-Paul Bruneau</p>
  <p class="fw-bold">Formateur – Conférencier</p>
  <p class="fw-bold">
    Président fondateur de l’Association Nationale E.D.V.O., assurant le suivi
    de polytoxicomanes depuis 1987
  </p>
  <p>Formateur anti-drogue Police Nationale, retraité</p>
  <p>D.U. toxicomanie/dopage Faculté de Médecine d’Angers</p>
  <p>D.U. Addictions et psychiatrie à l’Université Paris Diderot</p>
</div>
