<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h4 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
        Formulaire de contact
      </h4>
      <form
        [formGroup]="contactForm"
        (submit)="onSubmit()"
        class="border rounded border-1 p-5"
      >
        <div class="mb-3">
          <label for="demande" class="form-label">
            Objet de la demande<span class="text-danger">*</span>
          </label>
          <select
            id="demande"
            class="form-select"
            formControlName="demande"
            aria-label="Objet de la demande"
          >
            @for (object of objectOfDemand; track object.id) {
            <option value="{{ object.value }}">
              {{ object.value }}
            </option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">
            Nom<span class="text-danger">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="mb-3">
          <label for="organism" class="form-label">Organisme</label>
          <input
            type="text"
            class="form-control"
            id="organism"
            formControlName="organism"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">
            Email<span class="text-danger">*</span>
          </label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label"
            >Message<span class="text-danger">*</span></label
          >
          <textarea
            type="text"
            class="form-control"
            rows="3"
            formControlName="message"
          >
          </textarea>
        </div>
        <button
          type="submit"
          [disabled]="!contactForm.valid"
          class="btn btn-primary"
        >
          Envoyer
        </button>
      </form>
    </div>
    <div class="col-12 col-md-4">
      <h4 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
        Information rapide
      </h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Hotel Social :</li>
        <a
          href="mailto:secretariat@edvo.fr"
          class="list-group-item list-group-item-action"
        >
          secretariat&#64;edvo.fr
        </a>
        <a href="tel:0134286450" class="list-group-item list-group-item-action">
          01 34 28 64 50
        </a>
        <li class="list-group-item list-group-item-primary">Maison Relais :</li>
        <a
          href="mailto:maisonrelais@edvo.fr"
          class="list-group-item list-group-item-action"
        >
          maisonrelais&#64;edvo.fr
        </a>
        <li class="list-group-item list-group-item-primary">Prévention :</li>
        <a
          href="mailto:secretariat@edvo.fr"
          class="list-group-item list-group-item-action"
        >
          secretariat&#64;edvo.fr
        </a>
        <li class="list-group-item list-group-item-primary">Presse :</li>
        <a
          href="mailto:secretariat@edvo.fr"
          class="list-group-item list-group-item-action"
        >
          secretariat&#64;edvo.fr
        </a>
        <li class="list-group-item list-group-item-primary">Nous soutenir :</li>
        <a
          href="mailto:secretariat@edvo.fr"
          class="list-group-item list-group-item-action"
        >
          secretariat&#64;edvo.fr
        </a>
      </ul>
    </div>
    <div class="col-12">google maps</div>
  </div>
</div>
