<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
        Formulaire de contact
      </h4>
      <form class="border rounded border-1 p-5">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">
            Objet de la demande (obligatoire)
          </label>
          <select class="form-select" aria-label="Default select example">
            <option value="Informations">Informations</option>
            <option value="Groupe entraide famille">
              Groupe entraide famille
            </option>
            <option value="Prévention scolaire">Prévention scolaire</option>
            <option value="Prévention entreprise">Prévention entreprise</option>
            <option value="Formation acteur-relais">
              Formation acteur-relais
            </option>
            <option value="Faire un leg">Faire un leg</option>
            <option value="Devenir adhérent">Devenir adhérent</option>
            <option value="Devenir bénévole">Devenir bénévole</option>
            <option value="Presse">Presse</option>
            <option value="Maison Relais">Maison Relais</option>
            <option value="Autre">Autre</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">
            Votre nom (obligatoire)
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">
            Votre organisme (facultatif)
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Votre organisme (facultatif)"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">
            Votre adresse de messagerie (obligatoire)
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">
            Votre message
          </label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Votre message"
          >
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <h4 class="border-bottom border-secondary-subtle border-5 d-inline-flex">
        Information rapide
      </h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Hotel Social :</li>
        <a href="#" class="list-group-item list-group-item-action">
          secretariat&#64;edvo.fr
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          01 34 28 64 50
        </a>
        <li class="list-group-item list-group-item-primary">Maison Relais :</li>
        <a href="#" class="list-group-item list-group-item-action">
          maisonrelais&#64;edvo.fr
        </a>
        <li class="list-group-item list-group-item-primary">Prévention :</li>
        <a href="#" class="list-group-item list-group-item-action">
          secretariat&#64;edvo.fr
        </a>
        <li class="list-group-item list-group-item-primary">Presse :</li>
        <a href="#" class="list-group-item list-group-item-action">
          secretariat&#64;edvo.fr
        </a>
        <li class="list-group-item list-group-item-primary">Nous soutenir :</li>
        <a href="#" class="list-group-item list-group-item-action">
          secretariat&#64;edvo.fr
        </a>
      </ul>
    </div>
    <div class="col-12">google maps</div>
  </div>
</div>
