<section class="container">
    <div class="row">
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Présentation de la structure Hôtel Social</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rebelle santé présente EDVO</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quand le CNPERT parle de nous…</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collecte Alimentaire printemps 2024</h5>
                    <p class="card-text">Bravo à l’ensemble des résidents et bénévoles qui ont pu récolter presque 3 tonnes au profit des plus démunis !!! EDVO remercie Auchan Taverny et la générosité des clients !!!</p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Présentation de la structure Hôtel Social</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rebelle santé présente EDVO</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quand le CNPERT parle de nous…</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collecte Alimentaire printemps 2024</h5>
                    <p class="card-text">Bravo à l’ensemble des résidents et bénévoles qui ont pu récolter presque 3 tonnes au profit des plus démunis !!! EDVO remercie Auchan Taverny et la générosité des clients !!!</p>
                    <a href="#" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
    </div>
</section>